div.stat_item span.item_count {
	background-color:#71B7E6;
	color:#FFFFFF;
	display:block;
	padding:1px ;
	padding-left:3px ;
	padding-right:0px ;
	-moz-border-radius-topright:3px;
	-moz-border-radius-bottomright:3px;
}

tr.stat_item_tr span.item_count {
	background-color:#71B7E6;
	color:#FFFFFF;
	display:block;
	padding:1px ;
	padding-left:3px ;
	padding-right:0px ;
	-moz-border-radius-topright:3px;
	-moz-border-radius-bottomright:3px;
	margin-bottom:2px;
}

tr.stat_item_tr td.stat_item_name {
	width:300px;
	padding:1px ;
	padding-left:3px ;
	
}

tr.stat_item_tr_1 td.stat_item_name {
	background-color:#EBEBEB;
}

.stat_item{
	margin-bottom:3px;
}

.stat_item .item_name{
	font-size:11px;
}
.stat_item .item_name a{
	text-decoration:none;
	font-size:11px;
}

span.item_name{
	display:inline-block;
	width:120px;
}
div.bar_space{
	display:inline-block;
	display:inline-block;
	width:240px;
}
div.bar_space span.item_count_bars {
	background-color:#71B7E6;
	color:#FFFFFF;
	
	display:inline-block;
	height:15px;
	width:5px;
	vertical-align:bottom;
}
div.bar_space span.empty_bar{
	background-color:#ebebeb;
}

