.certificate-header{height:150px;background-color:#ebecec;}
.certificate-main_header{width: 90%;margin: 0 auto;display: flex;align-items: center;justify-content: space-between;padding: 0 5%;}
.certificate-main{width:100%;margin:0 auto;}
.certificate-header_left{width:15%;background:url(../img/certificate/1.png);background-size:contain;background-repeat:no-repeat;float:left;height:150px;background-position:center;}
.certificate-header_center{float:left;width:70%;text-align:center;}
.certificate-header_center p{    font-size: 35px;line-height: 38px;}
.certificate-header_right{width:15%;background:url(../img/certificate/2.png);background-size:contain;background-repeat:no-repeat;float:left;height:130px;background-position:right;margin-top:10px;margin-bottom:10px;}
.certificate-header_main{margin-top:30px;margin-bottom:30px;height:50px;}
.certificate-header_main-left{font-family:sans-serif;float:left;width:50%;height:50px;}
.certificate-header_main-left-icon{background-size:contain;background-image:url(../img/certificate/3.png);background-repeat:no-repeat;height:50px;width:10%;float:left;}
.certificate-header_main-left p{margin:12px;margin-left:12%;}
.certificate-header_main-right{height:50px;width:50%;float:left;font-family:sans-serif;}
.certificate-header_main-right-icon{background-size:contain;background-image:url(../img/certificate/4.png);background-repeat:no-repeat;height:50px;width:12%;float:left;margin-left:72px;}
.certificate-header_main-right p{margin:12px;margin-right:0px;margin-left:30%;}
.certificate-main_center{background-color:#000;    padding: 15px 0;}
.certificate-main_center p{font-family:'arial';color:#fff;text-align:center;font-size:29px;margin:0px;}
.certificate-footer_main{padding-top:10px}
.certificate-footer_main-left{background-image:url(../img/certificate/5.png);background-repeat:no-repeat;float:left;width:48%;margin-left:-2%;}
.certificate-footer_main-left p{margin-top:200px;margin-left:26px;font-size:20px;font-family:sans-serif;}
.certificate-footer_main-right{background-image:url(../img/certificate/6.png);background-repeat:no-repeat;float:left;width:48%;margin-left:6%}
.certificate-footer_main-right p{margin-top:200px;margin-left:26px;font-size:20px;font-family:sans-serif;}
.certificate-header_main-right p span{font-size:22px;}
.certificate-header_main-left p span{font-size:22px;}
@media screen and (max-width:769px){
	.certificate-main_header{width:100%;}
	.certificate-main{width:100%;}
	.certificate-footer_main-left{margin-left:0px;width:50%;}
	.certificate-footer_main-right{margin-left:0px;width:50%;}
	.certificate-header_main-right p{margin-left:14%;}
	.certificate-header_main-right-icon{margin-left:0px;}
	.certificate-header_center p {
		font-size: 25px;
		line-height: 34px;
	}
	.certificate-header_main{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-direction: column;
		height: auto;
		margin: 0;
	}
	.certificate-header_main-left,
	.certificate-header_main-right{
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 10px 0;
	}
	.certificate-header_main-left p,
	.certificate-header_main-right p {
	    margin-left: 0;
	}
	.certificate-main_center p {
	    font-size: 22px;
	}
	.certificate-footer_main {
	    display: flex;
	    flex-direction: column;
	}
	.certificate-footer_main-right,
	.certificate-footer_main-left {
		width: 100%;
		margin: 25px 0;
	}
}
@media screen and (max-width:427px){
.certificate-header_center p{font-size:30px;}
.certificate-header_main{width:96%;margin-right:auto;margin-left:auto;}
.certificate-header_main-right-icon{width:10%;}
.certificate-header_main-right p{margin:5px;margin-left:0;}
.certificate-header_main-left{width:100%;}
.certificate-header_main-right{width:100%;}
.certificate-header_right {
    height: 60px;
    margin: 15px 0;
    background-position: center center;
}
.certificate-footer_main-left{width:100%;height:100%;}
.certificate-footer_main-right{width:100%;}
.certificate-main{width:100%;}
.certificate-main_header{width:96%;}
.certificate-footer_main{width:96%;margin:0 auto}
.certificate-footer_main-left p {
    margin-left: 0;
    margin-right: 0;
    font-size: 15px;
}
.certificate-footer_main-right p {
    margin-left: 0;
    margin-right: 0;
    font-size: 15px;
}
.certificate-header_main-right-icon, .certificate-header_main-left-icon {
    background-size: cover;
    height: 48px;
    width: 41px;
    background-position: left center;
}
.certificate-main_header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.certificate-header {
    height: auto;
}
.certificate-header_center {
    width: 100%;
}
.certificate-header_center p {
    margin: 0 0;
    font-size: 20px;
}

.certificate-header_left {
    height: 50px;
    margin: 15px 0;
}
.certificate-header_main-left p, .certificate-header_main-right p {
    font-size: 11px;
}
.cert
}
