/**
 * @package    AcySMS for Joomla!
 * @version    3.5.1
 * @author     acyba.com
 * @copyright  (C) 2009-2018 ACYBA S.A.R.L. All rights reserved.
 * @license	GNU/GPLv3 http://www.gnu.org/licenses/gpl-3.0.html
 */

div.toolbar{
	float: right;
	text-align: right;
	padding: 0;
}

div.toolbar span{
	float: left;
	margin: 0 auto;
	display: block;
}

div.toolbar a{
	display: block;
	float: left;
	white-space: nowrap;
	padding: 5px;
	cursor: pointer;
	text-align: center;
	color: #666;
}

div.toolbar a:hover{
	text-decoration: none;
	color: #4AA8CE;
}

div.toolbar span.divider{
	border-right: 1px solid #eee;
	width: 5px;
}

#acysmstoolbar tr, #acysmstoolbar td{
	border: none !important;
}

div#acysms_content dl.tabs dt{
	-moz-background-clip: border;
	-moz-background-inline-policy: continuous;
	-moz-background-origin: padding;
	background: #F0F0F0 none repeat scroll 0 0;
	border-left: 1px solid #CCCCCC;
	border-right: 1px solid #CCCCCC;
	border-top: 1px solid #CCCCCC;
	color: #666666;
	float: left;
	margin-left: 3px;
	padding: 4px 10px;
}

div#acysms_content dl.tabs dt.open{
	-moz-background-clip: border;
	-moz-background-inline-policy: continuous;
	-moz-background-origin: padding;
	background: #F9F9F9 none repeat scroll 0 0;
	border-bottom: 1px solid #F9F9F9;
	color: #000000;
	z-index: 100;
}

div#acysms_content dd, div#acysmsmailing_content dl{
	margin: 0;
	padding: 0;
}

div#acysms_content div.current{
	border: 1px solid #CCCCCC;
	clear: both;
	padding: 10px;
	max-width: 100%;
}

table.adminlist{
	width: 100%;
	border-spacing: 1px;
	background-color: #e7e7e7;
	color: #666;
}

table.adminlist td,
table.adminlist th{
	padding: 4px;
}

table.adminlist tbody tr.row0:hover td,
table.adminlist tbody tr.row1:hover td{
	background-color: #ffd;
}

table.adminlist tbody tr td{
	height: 25px;
	background: #fff;
	border: 1px solid #fff;
}

table.adminlist tbody tr.row1 td{
	background: #f9f9f9;
	border-top: 1px solid #FFF;
}

table.adminlist tfoot tr{
	text-align: center;
	color: #333;
}

table.adminlist tfoot td,
table.adminlist tfoot th{
	background-color: #f3f3f3;
	border-top: 1px solid #999;
	text-align: center;
}

table.adminlist thead th{
	text-align: center;
	background: #f0f0f0;
	color: #666;
	border-bottom: 1px solid #999;
	border-left: 1px solid #fff;
}

table.adminlist thead a:hover{
	text-decoration: none;
}

table.admintable td.key.vtop{
	vertical-align: top;
}

table.adminform{
	background-color: #f9f9f9;
	border: solid 1px #d5d5d5;
	width: 100%;
	border-collapse: collapse;
	margin: 8px 0 10px 0;
	margin-bottom: 15px;
	width: 100%;
}

table.adminform td{
	padding: 3px;
	text-align: left;
}

#acysmstoolbar a:link, #acysmstoolbar a:visited{
	background-color: transparent;
	text-decoration: none;
}

#acysmstoolbar a:hover, #acysmstoolbar a:active, #acysmstoolbar a:focus{
	text-decoration: none;
	background-color: transparent !important;
	color: #4AA8CE !important;
}

#acysms_form_menu h1{
	font-size: 18px !important;
	padding: 0px;
	margin: 0px;
}


#acysms_content th.title{
	font-size: 100%;
	display: table-cell;
}

#acysms_content div .pane-hide{
	overflow: hidden !important;
}

#acysms_content #messagetags{
	width: 50%;
}

.icon-32-smspreview{
	background-image: url(../images/icons/32_smspreview.png) !important;
	background-position: 0% 0% !important
}

.icon-32-smsnew{
	background-image: url(../images/icons/32_new.png) !important;
	background-position: 0% 0% !important
}

.icon-32-smsedit{
	background-image: url(../images/icons/32_edit.png) !important;
	background-position: 0% 0% !important
}

.icon-32-smscopy{
	background-image: url(../images/icons/32_copy.png) !important;
	background-position: 0% 0% !important
}

.icon-32-smsdelete{
	background-image: url(../images/icons/32_delete.png) !important;
	background-position: 0% 0% !important
}

.icon-32-smsapply{
	background-image: url(../images/icons/32_apply.png) !important;
	background-position: 0% 0% !important
}

.icon-32-smscancel{
	background-image: url(../images/icons/32_cancel.png) !important;
	background-position: 0% 0% !important
}

.icon-32-smssave{
	background-image: url(../images/icons/32_save.png) !important;
	background-position: 0% 0% !important
}

.icon-32-cancel{
	background-image: url(../images/icons/32_cancel.png) !important;
	background-position: 0% 0% !important
}




div.acysms_list{
	border: 1px solid #cccccc;
	margin: 10px;
	padding: 10px;
}

div.acysms_list:hover{
	background-color: #FFFFDD;
}

.list_description{
	padding: 10px 10px;
}

.list_name{
	font-size: 14pt;
}

.acysms_forward{
	text-align: center;
	width: 100%;
	margin-bottom: 30px;
}

div#iframedoc, div#iframetemplate, div#iframetag{
	height: 300px;
	display: none;
	border: 2px solid #cccccc;
}

#iframedoc iframe, #iframetemplate iframe, #iframetag iframe{
	border: 0 none;
}

div.newsletter_body{
	color: black;
}

div.newsletter_body table, div.newsletter_body th, div.newsletter_body td, div.newsletter_body tr, div.newsletter_body img{
	border: 0 none;
	margin: 0;
}

.newsletter_body table{
	color: black;
}

.hideonline{
	display: none;
}

img.captchaimagecomponent{
	border: 1px solid #dddddd;
}

#acysms_content #search{
	text-align: left;
	height: 17px;
	width: 200px;
}

#acysms_content input[type=radio]{
	margin: 0 10px;
	padding: 1px;
}

#acysms_content label{
	float: none;
	display: inline;
}

#acysms_content input, #acysms_content textarea, #acysms_content select, #acysms_content fieldset input, #acysms_content fieldset textarea, #acysms_content fieldset select, #acysms_content fieldset img, #acysms_content fieldset button{
	float: none;
}


#acysmstoolbar i{
	margin: 0px 5px 0px 8px;
}

.introfilters input[type="checkbox"]{
	margin: 0px 5px 0px 8px;
}

#typescheduled_params select{
	padding: 0px;
}



#smsParams input[type="radio"]{
	display: none
}

#smsParams input[type="radio"] + label{
	color: #666666;
	font-family: Arial, sans-serif;
	font-size: 14px;
}

#smsParams input[type="radio"] + label span{
	display: inline-block;
	width: 6px;
	height: 6px;
	vertical-align: middle;
	cursor: pointer;
	-moz-border-radius: 50%;
	border-radius: 50%;
	background-color: #dddddd;
	margin: 0px 5px 3px 12px;
	border: 2px solid #ddd;
}

#smsParams input[type="radio"] + label:hover span{
	border: 2px solid #4AA8CE;
	-webkit-transition: border-color 0.4s linear;
	-o-transition: border-color 0.4s linear;
	-moz-transition: border-color 0.4s linear;
	transition: border-color 0.4s linear;
}

#smsParams input[type="radio"]:checked + label span{
	background-color: #4AA8CE;
	border: 2px solid #4AA8CE;
}

#smsParams input[type="radio"] + label span,
#smsParams input[type="radio"]:checked + label span{
	-webkit-transition: background-color 0.4s linear;
	-o-transition: background-color 0.4s linear;
	-moz-transition: background-color 0.4s linear;
	transition: background-color 0.4s linear;
}

#acysms_content #smsParams span{
	white-space: nowrap;
	display: inline-block;
}
