/**
 * @package    AcyMailing for Joomla!
 * @version    5.10.4
 * @author     acyba.com
 * @copyright  (C) 2009-2018 ACYBA S.A.R.L. All rights reserved.
 * @license    GNU/GPLv3 http://www.gnu.org/licenses/gpl-3.0.html
 */

@import "acyicon.css";

@keyframes fadeIn {
    0% {
        visibility: hidden;
        opacity: 0;
    }
    100% {
        visibility: visible;
        opacity: 1;
    }
}

.acymailingpopup{
    cursor: pointer;
}

#acymailingpopupshadow{
    z-index: 101000;
    background-color: #000;
    position: fixed;
    left: 0px;
    top: 0px;
    bottom: 0px;
    right: 0px;
    opacity: 0.7;
}

#acymailingpopup{
    z-index: 101100;
    background-color: #fff;
    position: fixed;
    padding: 10px;
    border-radius: 3px;

    animation: 0.5s fadeIn forwards;
}

@media (max-width: 1000px){
    #acymailingpopup{
        overflow-x: hidden;
        overflow-y: scroll;
    }

    #acymailingpopup #closepop{
        display: none;
    }
}

#acymailingpopup iframe {
    width: 100%;
    height: 100%;
    border: 0;
}

#closepop {
    position: absolute;
    width: 15px;
    height: 15px;
    right: -10px;
    top: -10px;
    background-color: white;
    border-radius: 20px;
    border: 2px solid #525252;
    font-size: 15px;
    cursor: pointer;
    font-family: 'acyicon';
    line-height: 1;
    box-sizing: content-box;
}

#closepop:before{
    content: "\e621";
}
