/**
 * @package    AcyMailing for Joomla!
 * @version    5.10.4
 * @author     acyba.com
 * @copyright  (C) 2009-2018 ACYBA S.A.R.L. All rights reserved.
 * @license    GNU/GPLv3 http://www.gnu.org/licenses/gpl-3.0.html
 */

@import url("component_default_shadow_black.css");



#acyarchivelisting .button, #acymodifyform .button, #unsubbutton_div .button {
color:#fff !important;
background-color:#730028 !important;
background-image: linear-gradient(bottom, #770000 21%, #bc1f00 58%) !important;
background-image: -o-linear-gradient(bottom, #770000 21%, #bc1f00 58%) !important;
background-image: -moz-linear-gradient(bottom, #770000 21%, #bc1f00 58%) !important;
background-image: -webkit-linear-gradient(bottom, #770000 21%, #bc1f00 58%) !important;
background-image: -ms-linear-gradient(bottom, #770000 21%, #bc1f00 58%) !important;

  background: -ms-linear-gradient(top, ellipse cover, #770000 0%,#bc1f00 100%);   background: radial-gradient(top, ellipse cover, #770000 0%,#bc1f00 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#BC1F00', endColorstr='#770000',GradientType=0 ) !important; }

#acyarchivelisting .button:hover, #acymodifyform .button:hover, #unsubbutton_div .button:hover{
    color:#fff !important;
	background-color:#bc1f00 !important;
background-image: linear-gradient(bottom, #b00303 21%, #ee0000 58%) !important;
background-image: -o-linear-gradient(bottom, #b00303 21%, #ee0000 58%) !important;
background-image: -moz-linear-gradient(bottom, #b00303 21%, #ee0000 58%) !important;
background-image: -webkit-linear-gradient(bottom, #b00303 21%, #ee0000 58%) !important;
background-image: -ms-linear-gradient(bottom, #b00303 21%, #ee0000 58%) !important;

  background: -ms-linear-gradient(top, ellipse cover, #b00303 0%,#ee0000 100%);   background: radial-gradient(top, ellipse cover, #b00303 0%,#ee0000 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ee0000', endColorstr='#b00303',GradientType=0 ) !important; }



#acyarchivelisting .contentheading{
	color:#770000;
	border-bottom:1px solid #770000;
}

#acyarchivelisting .contentpane .contentdescription{
	color:#bc1f00;
}

#acyarchivelisting .sectiontableheader a:hover{
	color:#bc1f00;
}

#acyarchivelisting .contentpane tbody .sectiontableentry1 a:hover{
	color:#bc1f00;
}

#acyarchivelisting .contentpane tbody .sectiontableentry2 a:hover{
	color:#bc1f00;
}


#acyarchiveview .contentheading{
	color:#bc1f00;}
	
	

#acylistslisting .componentheading{
	color:#770000;
	border-bottom:1px solid #770000;
}

#acylistslisting .list_name a{
    color:#bc1f00;
}

#acylistslisting .list_name a:hover, #acylistslisting .list_name a:focus {
	color:#bc1f00;
}



#acymodifyform legend{
	color:#770000;
	border-bottom:1px solid #770000;
}

#acyusersubscription .list_name{
    color: #bc1f00;
}

	

#unsubpage .unsubintro{
	color:#bc1f00;
	border-bottom: 1px solid #bc1f00;
}

#unsubpage .unsubsurveytext{
    border-bottom: 1px solid #bc1f00;
    color: #bc1f00;
}

