/**
 * @package    AcyMailing for Joomla!
 * @version    5.10.4
 * @author     acyba.com
 * @copyright  (C) 2009-2018 ACYBA S.A.R.L. All rights reserved.
 * @license    GNU/GPLv3 http://www.gnu.org/licenses/gpl-3.0.html
 */

@import url("component_default_classic_black.css");




#acyarchivelisting .button, #acymodifyform .button, #unsubbutton_div .button{
	color:#B90041 !important;
}

#acyarchivelisting .button:hover, #acymodifyform .button:hover, #unsubbutton_div .button:hover{
    color:#fff!important;
	background-color:#B90041 !important;
}



	

#acyarchivelisting .contentheading{
	color:#59001F;
}

#acyarchivelisting .contentpane .contentdescription{
	color:#b90041;
}


#acyarchivelisting .contentpane tbody .sectiontableentry1 a:hover{
	color:#b90041;
}

#acyarchivelisting .contentpane tbody .sectiontableentry2 a:hover{
	color:#b90041;
}

#acyarchivelisting .sectiontableheader a:hover{
	color:#b90041;
}


#acyarchiveview .contentheading{
	color:#b90041;}



#acylistslisting .componentheading{
	color:#59001F;
}

#acylistslisting .list_name a{
    color:#B90041;
}

#acylistslisting .list_name a:hover, #acylistslisting .list_name a:focus {
	color:#b90041;
}



#acymodifyform legend{
	color:#59001F;
}

#acyusersubscription .list_name{
    color: #B90041;
}
	

#unsubpage .unsubsurveytext{
    color: #59001F;
}

#unsubpage .unsubintro{
	color:#59001F;
}
