/**
 * @package    AcyMailing for Joomla!
 * @version    5.10.4
 * @author     acyba.com
 * @copyright  (C) 2009-2018 ACYBA S.A.R.L. All rights reserved.
 * @license    GNU/GPLv3 http://www.gnu.org/licenses/gpl-3.0.html
 */

@import url("component_default_basic_black.css");

	
#acymodifyform .button:hover, #unsubbutton_div .button:hover, #acyarchivelisting .button:hover {
    color:#5a99ab;}


#acyarchivelisting .contentheading{
	color:#5a99ab;
	border-bottom:1px solid #5a99ab;
}

#acyarchivelisting .contentpane .contentdescription{
	color:#8db9d8;
}

#acyarchivelisting .sectiontableheader a:hover{
	color:#5a99ab;
}

#acyarchivelisting .contentpane tbody .sectiontableentry1 a:hover{
	color:#5a99ab;
}

#acyarchivelisting .contentpane tbody .sectiontableentry2 a:hover{
	color:#5a99ab;
}


#acyarchivelisting .contentpane tbody .sectiontableentry1{
	background-color:#ecf2f5;
	border-bottom:1px solid #fff;
}

#acyarchivelisting .contentpane tbody .sectiontableentry1:hover{
	background-color:#e3e9ec;
}

#acyarchivelisting .contentpane tbody .sectiontableentry2{
	background-color:#f4f8f9;
	border-bottom:1px solid #fff;
}

#acyarchivelisting .contentpane tbody .sectiontableentry2:hover{
	background-color:#e3e9ec;
}



#acyarchiveview .contentheading{
	color:#5A99AB;}
	
	

#acylistslisting .componentheading{
	color:#5A99AB;
	border-bottom:1px solid #5A99AB;
}

#acylistslisting .list_name a{
    color:#8DB9D8;
}

#acylistslisting .list_name a:hover, #acylistslisting .list_name a:focus {
	color:#5A99AB;
}

div.acymailing_list:hover{
	background-color :#f4f8f9;
}


#acymodifyform legend{
	color:#5A99AB;
	border-bottom:1px solid #5A99AB;
}

#acyusersubscription .list_name{
    color: #8DB9D8;
}

#acyusersubscription th{
	background-color:#f4f8f9;}


#unsubpage .unsubintro{
	color:#5A99AB;
	border-bottom: 1px solid #5A99AB;
}

#unsubpage .unsubsurveytext{
    border-bottom: 1px solid #5A99AB;
    color: #5A99AB;
}

