/**
 * @package    AcyMailing for Joomla!
 * @version    5.10.4
 * @author     acyba.com
 * @copyright  (C) 2009-2018 ACYBA S.A.R.L. All rights reserved.
 * @license    GNU/GPLv3 http://www.gnu.org/licenses/gpl-3.0.html
 */

@import url("component_default_radial_black.css");




#acyarchivelisting .inputbox:hover, #acyuserinfo .inputbox:hover{
	border:1px solid #ccc !important;
	border-bottom:1px solid #999 !important;
	box-shadow: inset 0 0 3px 3px #eee !important;
	-moz-box-shadow: inset 0 0 3px 3px #eee !important;
	-webkit-box-shadow: inset 0 0 3px 3px #eee !important;
}

#acyarchivelisting .inputbox:focus, #acyuserinfo .inputbox:focus{
	border:1px solid  #727127 !important;}



#acyarchivelisting .button, #acymodifyform .button, #unsubbutton_div .button{
	color:#fff !important;
	border:1px solid #727127 !important;
	-moz-border-radius:5px !important;
	text-shadow:1px 1px 1px #666 !important;

background-image: radial-gradient(top, #9e9c07  21%, #727127 58%) !important;
background-image: -o-radial-gradient(top, #9e9c07 21%, #727127 58%) !important;
background-image: -moz-radial-gradient(top, #9e9c07 21%, #727127 58%) !important;
background-image: -webkit-radial-gradient(top, #9e9c07 21%, #727127 58%) !important;
background-image: -ms-radial-gradient(top, #9e9c07 21%, #727127 58%) !important;

  background: -ms-radial-gradient(top, ellipse cover, #9e9c07 0%,#727127 100%);   background: radial-gradient(top, ellipse cover, #9e9c07 0%,#727127 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9e9c07', endColorstr='#727127',GradientType=1 ) !important; }

#acyarchivelisting .button:hover, #acymodifyform .button:hover, #unsubbutton_div .button:hover{
	color:#fff !important;
	border:1px solid #9e9c07 !important;
	-moz-border-radius:5px !important;
	text-shadow:1px 1px 1px #666 !important;

background-image: radial-gradient(top, #d3d14c  21%, #9e9c07 58%) !important;
background-image: -o-radial-gradient(top, #d3d14c 21%, #9e9c07 58%) !important;
background-image: -moz-radial-gradient(top, #d3d14c 21%, #9e9c07 58%) !important;
background-image: -webkit-radial-gradient(top, #d3d14c 21%, #9e9c07 58%) !important;
background-image: -ms-radial-gradient(top, #d3d14c 21%, #9e9c07 58%) !important;

  background: -ms-radial-gradient(top, ellipse cover, #d3d14c 0%,#9e9c07 100%);   background: radial-gradient(top, ellipse cover, #d3d14c 0%,#9e9c07 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d3d14c', endColorstr='#9e9c07',GradientType=1 ) !important;  }



#acyarchivelisting .contentheading{
	color:#727127;
	border-bottom:1px dotted #727127;
}

#acyarchivelisting .contentpane .contentdescription{
	color:#9e9c07;
}

#acyarchivelisting .sectiontableheader a:hover{
	color:#9e9c07;
}

#acyarchivelisting .contentpane tbody .sectiontableentry1 a:hover{
	color:#9e9c07;
}
#acyarchivelisting .contentpane tbody .sectiontableentry2 a:hover{
	color:#9e9c07;
}



#acyarchiveview .contentheading{
	color:#9e9c07;
}


#acylistslisting .componentheading{
	color:#727127;
	border-bottom:1px dotted #727127;
}

#acylistslisting .list_name a{
    color:#9e9c07;
}

#acylistslisting .list_name a:hover, #acylistslisting .list_name a:focus {
	color:#9e9c07;
}


#acymodifyform legend{
	color:#727127;
	border-bottom:1px dotted #727127;
}

#acyusersubscription .list_name{
    color: #9e9c07;
}


#unsubpage .unsubintro{
	color:#9e9c07;
	border-bottom: 1px dotted #9e9c07;
}

#unsubpage .unsubsurveytext{
    border-bottom: 1px dotted #9e9c07;
    color: #9e9c07;
}
