/**
 * @package    AcyMailing for Joomla!
 * @version    5.10.4
 * @author     acyba.com
 * @copyright  (C) 2009-2018 ACYBA S.A.R.L. All rights reserved.
 * @license    GNU/GPLv3 http://www.gnu.org/licenses/gpl-3.0.html
 */

@import url("component_default_shadow_black.css");



#acyarchivelisting .button, #acymodifyform .button, #unsubbutton_div .button {
color:#fff !important;
background-color:#730028 !important;
background-image: linear-gradient(bottom, #730028 21%, #b90041 58%) !important;
background-image: -o-linear-gradient(bottom, #730028 21%, #b90041 58%) !important;
background-image: -moz-linear-gradient(bottom, #730028 21%, #b90041 58%) !important;
background-image: -webkit-linear-gradient(bottom, #730028 21%, #b90041 58%) !important;
background-image: -ms-linear-gradient(bottom, #730028 21%, #b90041 58%) !important;

  background: -ms-linear-gradient(top, ellipse cover, #730028 0%,#b90041 100%);   background: radial-gradient(top, ellipse cover, #730028 0%,#b90041 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b90041', endColorstr='#730028',GradientType=0 ) !important; }

#acyarchivelisting .button:hover, #acymodifyform .button:hover, #unsubbutton_div .button:hover{
    color:#fff !important;
	background-color:#b90041 !important;
background-image: linear-gradient(bottom, #a2023a 21%, #eb0053 58%) !important;
background-image: -o-linear-gradient(bottom, #a2023a 21%, #eb0053 58%) !important;
background-image: -moz-linear-gradient(bottom, #a2023a 21%, #eb0053 58%) !important;
background-image: -webkit-linear-gradient(bottom, #a2023a 21%, #eb0053 58%) !important;
background-image: -ms-linear-gradient(bottom, #a2023a 21%, #eb0053 58%) !important;

  background: -ms-linear-gradient(top, ellipse cover, #a2023a 0%,#eb0053 100%);   background: radial-gradient(top, ellipse cover, #a2023a 0%,#eb0053 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eb0053', endColorstr='#a2023a',GradientType=0 ) !important; }



#acyarchivelisting .contentheading{
	color:#59001F;
	border-bottom:1px solid #59001F;
}

#acyarchivelisting .contentpane .contentdescription{
	color:#b90041;
}

#acyarchivelisting .sectiontableheader a:hover{
	color:#b90041;
}

#acyarchivelisting .contentpane tbody .sectiontableentry1 a:hover{
	color:#b90041;
}

#acyarchivelisting .contentpane tbody .sectiontableentry2 a:hover{
	color:#b90041;
}


#acyarchiveview .contentheading{
	color:#b90041;}
	
	

#acylistslisting .componentheading{
	color:#59001F;
	border-bottom:1px solid #59001F;
}

#acylistslisting .list_name a{
    color:#B90041;
}

#acylistslisting .list_name a:hover, #acylistslisting .list_name a:focus {
	color:#b90041;
}



#acymodifyform legend{
	color:#59001F;
	border-bottom:1px solid #59001F;
}

#acyusersubscription .list_name{
    color: #B90041;
}

	

#unsubpage .unsubintro{
	color:#b90041;
	border-bottom: 1px solid #b90041;
}

#unsubpage .unsubsurveytext{
    border-bottom: 1px solid #b90041;
    color: #b90041;
}

