/**
 * @package    AcyMailing for Joomla!
 * @version    5.10.4
 * @author     acyba.com
 * @copyright  (C) 2009-2018 ACYBA S.A.R.L. All rights reserved.
 * @license    GNU/GPLv3 http://www.gnu.org/licenses/gpl-3.0.html
 */

@import url("component_default_basic_black.css");

	
#acymodifyform .button:hover, #unsubbutton_div .button:hover, #acyarchivelisting .button:hover {
    color:#bc1f00;}


#acyarchivelisting .contentheading{
	color:#770000;
	border-bottom:1px solid #770000;
}

#acyarchivelisting .contentpane .contentdescription{
	color:#bc1f00;
}

#acyarchivelisting .sectiontableheader a:hover{
	color:#bc1f00;
}

#acyarchivelisting .contentpane tbody .sectiontableentry1 a:hover{
	color:#bc1f00;
}

#acyarchivelisting .contentpane tbody .sectiontableentry2 a:hover{
	color:#bc1f00;
}



#acyarchiveview .contentheading{
	color:#bc1f00;}
	
	

#acylistslisting .componentheading{
	color:#770000;
	border-bottom:1px solid #770000;
}

#acylistslisting .list_name a{
    color:#bc1f00;
}

#acylistslisting .list_name a:hover, #acylistslisting .list_name a:focus {
	color:#bc1f00;
}


#acymodifyform legend{
	color:#770000;
	border-bottom:1px solid #770000;
}

#acyusersubscription .list_name{
    color: #bc1f00;
}


#unsubpage .unsubintro{
	color:#770000;
	border-bottom: 1px solid #770000;
}

#unsubpage .unsubsurveytext{
	color:#770000;
	border-bottom: 1px solid #770000;
}

