/**
 * @package    AcyMailing for Joomla!
 * @version    5.10.4
 * @author     acyba.com
 * @copyright  (C) 2009-2018 ACYBA S.A.R.L. All rights reserved.
 * @license    GNU/GPLv3 http://www.gnu.org/licenses/gpl-3.0.html
 */

@import url("module_default_radial_black.css");



.acymailing_module .inputbox{
	border:1px solid #e8e4d6 !important;
	border-bottom:1px solid #d5d0bd !important;}

.acymailing_module .inputbox:hover{
	border:1px solid #d5d0bd!important;
	border-bottom:1px solid #c8c3b0 !important;
	-moz-box-shadow: inset 0 0 3px 3px #f2f0e8 !important;
	-webkit-box-shadow: inset 0 0 3px 3px #f2f0e8 !important;}

.acymailing_module .inputbox:focus{
	border:1px solid  #d3cebd !important;}
	
	

.acysubbuttons .button, .acysubbuttons button.validate, .acymailing_mootoolsbutton a:link, .acymailing_mootoolsbutton a:visited {
	color:#fff !important;
	border:1px solid #777059 !important;
	-moz-border-radius:5px !important;
	text-shadow:1px 1px 1px #666 !important;

background-image: radial-gradient(top, #dad5c4  21%, #777059 58%) !important;
background-image: -o-radial-gradient(top, #dad5c4 21%, #777059 58%) !important;
background-image: -moz-radial-gradient(top, #dad5c4 21%, #777059 58%) !important;
background-image: -webkit-radial-gradient(top, #dad5c4 21%, #777059 58%) !important;
background-image: -ms-radial-gradient(top, #dad5c4 21%, #777059 58%) !important;

  background: -ms-radial-gradient(top, ellipse cover, #dad5c4 0%,#777059 100%);   background: radial-gradient(top, ellipse cover, #dad5c4 0%,#777059 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dad5c4', endColorstr='#777059',GradientType=1 ) !important; }

.acysubbuttons .button:hover, .acysubbuttons button.validate:hover, .acymailing_mootoolsbutton a:hover, .acymailing_mootoolsbutton a:active {
	color:#fff !important;
	border:1px solid #b6af97!important;
	-moz-border-radius:5px !important;
	text-shadow:1px 1px 1px #666 !important;

background-image: radial-gradient(top, #ece9e0  21%, #b6af97 58%) !important;
background-image: -o-radial-gradient(top, #ece9e0 21%, #b6af97 58%) !important;
background-image: -moz-radial-gradient(top, #ece9e0 21%, #b6af97 58%) !important;
background-image: -webkit-radial-gradient(top, #ece9e0 21%, #b6af97 58%) !important;
background-image: -ms-radial-gradient(top, #ece9e0 21%, #b6af97 58%) !important;

  background: -ms-radial-gradient(top, ellipse cover, #ece9e0 0%,#b6af97 100%);   background: radial-gradient(top, ellipse cover, #ece9e0 0%,#b6af97 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ece9e0', endColorstr='#b6af97',GradientType=1 ) !important; }



.acymailing_module form a:hover, .acymailing_module form a:active, .acymailing_module form a:focus{
	color:#aca489!important;
	text-decoration:underline !important;
	background-color:transparent !important;}
