/**
 * @package    AcyMailing for Joomla!
 * @version    5.10.4
 * @author     acyba.com
 * @copyright  (C) 2009-2018 ACYBA S.A.R.L. All rights reserved.
 * @license    GNU/GPLv3 http://www.gnu.org/licenses/gpl-3.0.html
 */

@import url("module_default_radial_black.css");


.acymailing_module .inputbox:hover{
	border:1px solid #ccc !important;
	border-bottom:1px solid #999 !important;
	box-shadow: inset 0 0 3px 3px #eee !important;
	-moz-box-shadow: inset 0 0 3px 3px #eee !important;
	-webkit-box-shadow: inset 0 0 3px 3px #eee !important;}

.acymailing_module .inputbox:focus{
	border:1px solid  #770000 !important;}
	
	

.acysubbuttons .button, .acysubbuttons button.validate, .acymailing_mootoolsbutton a:link, .acymailing_mootoolsbutton a:visited {
	color:#fff !important;
	border:1px solid #770000 !important;
	-moz-border-radius:5px !important;
	text-shadow:1px 1px 1px #666 !important;

background-image: radial-gradient(top, #bc1f00  21%, #770000 58%) !important;
background-image: -o-radial-gradient(top, #bc1f00 21%, #770000 58%) !important;
background-image: -moz-radial-gradient(top, #bc1f00 21%, #770000 58%) !important;
background-image: -webkit-radial-gradient(top, #bc1f00 21%, #770000 58%) !important;
background-image: -ms-radial-gradient(top, #bc1f00 21%, #770000 58%) !important;

  background: -ms-radial-gradient(top, ellipse cover, #bc1f00 0%,#770000 100%);   background: radial-gradient(top, ellipse cover, #bc1f00 0%,#770000 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bc1f00', endColorstr='#770000',GradientType=1 ) !important; }

.acysubbuttons .button:hover, .acysubbuttons button.validate:hover, .acymailing_mootoolsbutton a:hover, .acymailing_mootoolsbutton a:active {
	color:#fff !important;
	border:1px solid #bc1f00 !important;
	-moz-border-radius:5px !important;
	text-shadow:1px 1px 1px #666 !important;

background-image: radial-gradient(top, #ec2700  21%, #bc1f00 58%) !important;
background-image: -o-radial-gradient(top, #ec2700 21%, #bc1f00 58%) !important;
background-image: -moz-radial-gradient(top, #ec2700 21%, #bc1f00 58%) !important;
background-image: -webkit-radial-gradient(top, #ec2700 21%, #bc1f00 58%) !important;
background-image: -ms-radial-gradient(top, #ec2700 21%, #bc1f00 58%) !important;

  background: -ms-radial-gradient(top, ellipse cover, #ec2700 0%,#bc1f00 100%);   background: radial-gradient(top, ellipse cover, #ec2700 0%,#bc1f00 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ec2700', endColorstr='#bc1f00',GradientType=1 ) !important; }



.acymailing_module form a:hover, .acymailing_module form a:active, .acymailing_module form a:focus{
	color:#bc1f00!important;
	text-decoration:underline !important;
	background-color:transparent !important;}
