/**
 * @package    AcyMailing for Joomla!
 * @version    5.10.4
 * @author     acyba.com
 * @copyright  (C) 2009-2018 ACYBA S.A.R.L. All rights reserved.
 * @license    GNU/GPLv3 http://www.gnu.org/licenses/gpl-3.0.html
 */

@import url("module_default.css");




.acymailing_module .inputbox{
	color:#666 !important;
	border:1px solid #ddd !important;
	border-right:1px solid #ccc!important;
	border-bottom:1px solid #ccc !important;
	margin-right: 10px!important;
	padding: 2px !important;
}


.acymailing_module .inputbox:hover{
	border:1px solid #999!important;
	border-bottom: 1px solid #333!important;
	border-right: 1px solid #333!important;
}

.acymailing_module .inputbox:focus{
	border:1px solid #bbb !important;
	background-color:#f5f5f5 !important;
}


.acymailing_mootoolsbutton a:link, .acymailing_mootoolsbutton a:visited, .acysubbuttons input.button, .acysubbuttons .button, .acysubbuttons button.validate {
	color:#fff !important;
	padding: 4px !important;
	margin-right:5px !important;
	background:none !important;
	border:none !important;
	border:1px solid #ddd !important;
	background-color:#000 !important;
	text-decoration:none !important;
}

.acymailing_mootoolsbutton a:hover, .acymailing_mootoolsbutton a:active, .acysubbuttons input.button:hover, .acysubbuttons .button:hover, .acysubbuttons button.validate:hover {
	color:#fff!important;
	background-color:#666 !important;
}



.acymailing_module_form td{
	padding-bottom:0px;
}


.acymailing_module .acyfield_html {
	display:inline-block;
	padding-right:10px !important;
}



.acymailing_module .acymailing_mootoolsbutton p{
	text-align:left;
}

.acymailing_module a.acymailing_togglemodule{
	display:inline;
		font-size: 13px;
		font-weight: bold;}


.acymailing_module table.acymailing_form {
	margin:0px;}

.acymailing_module .acymailing_module_form td{
	padding-bottom:8px;}



.acymailing_form {
	margin:0px;}

.acymailing_form label{
	margin-right:10px;
	}

.acymailing_module .acymailing_module_form td{
	padding-bottom:8px;}



.acymailing_module .acymailing_module_form .acymailing_lists a:link, .acymailing_module .acymailing_module_form .acymailing_lists a:visited{
	color:#000;
	text-decoration:none;}

.acymailing_module form a:hover, .acymailing_module form a:active, .acymailing_module form a:focus{
	color:#666!important;
	text-decoration:underline !important;
	background-color:transparent !important;}

.acymailing_module .acymailing_module_form .acymailing_lists .acymailing_checkbox{
	margin-right:10px;}


.acymailing_module_form .acymailing_lists a:hover{
	background-color:transparent;
	color:#B90041;
	text-decoration:underline;}

.acymailing_module_form .acymailing_form a:link{
	background-color:transparent;
	color:#000;
	text-decoration:none;}

.acymailing_module_form .acymailing_form a:hover{
	background-color:transparent;
	color:#B90041;
	text-decoration:underline;}

.acymailing_module .acyfield_html input{
	margin-right:10px;
	margin-left:10px;
	border:none !important;
	background:none !important;
	filter:none !important;}

.acymailing_form .checkbox{
	border: none !important;
	background:none !important;
	filter: none !important;}

.acymailing_module .invalid{
border:1px solid #999 !important;}
