/**
 * @package    AcyMailing for Joomla!
 * @version    5.10.4
 * @author     acyba.com
 * @copyright  (C) 2009-2018 ACYBA S.A.R.L. All rights reserved.
 * @license    GNU/GPLv3 http://www.gnu.org/licenses/gpl-3.0.html
 */

@import url("module_default_radial_black.css");


.acymailing_module .inputbox:hover{
	border:1px solid #ccc !important;
	border-bottom:1px solid #999 !important;
	box-shadow: inset 0 0 3px 3px #eee !important;
	-moz-box-shadow: inset 0 0 3px 3px #eee !important;
	-webkit-box-shadow: inset 0 0 3px 3px #eee !important;}

.acymailing_module .inputbox:focus{
	border:1px solid  #59001f !important;}
	
	

.acysubbuttons .button, .acysubbuttons button.validate, .acymailing_mootoolsbutton a:link, .acymailing_mootoolsbutton a:visited {
	color:#fff !important;
	border:1px solid #59001f !important;
	-moz-border-radius:5px !important;
	text-shadow:1px 1px 1px #666 !important;

background-image: radial-gradient(top, #b90041  21%, #59001f 58%) !important;
background-image: -o-radial-gradient(top, #b90041 21%, #59001f 58%) !important;
background-image: -moz-radial-gradient(top, #b90041 21%, #59001f 58%) !important;
background-image: -webkit-radial-gradient(top, #b90041 21%, #59001f 58%) !important;
background-image: -ms-radial-gradient(top, #b90041 21%, #59001f 58%) !important;

  background: -ms-radial-gradient(top, ellipse cover, #b90041 0%,#59001f 100%);   background: radial-gradient(top, ellipse cover, #b90041 0%,#59001f 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b90041', endColorstr='#59001f',GradientType=1 ) !important; }

.acysubbuttons .button:hover, .acysubbuttons button.validate:hover, .acymailing_mootoolsbutton a:hover, .acymailing_mootoolsbutton a:active {
	color:#fff !important;
	border:1px solid #b90041 !important;
	-moz-border-radius:5px !important;
	text-shadow:1px 1px 1px #666 !important;

background-image: radial-gradient(top, #de5384  21%, #b90041 58%) !important;
background-image: -o-radial-gradient(top, #de5384 21%, #b90041 58%) !important;
background-image: -moz-radial-gradient(top, #de5384 21%, #b90041 58%) !important;
background-image: -webkit-radial-gradient(top, #de5384 21%, #b90041 58%) !important;
background-image: -ms-radial-gradient(top, #de5384 21%, #b90041 58%) !important;

  background: -ms-radial-gradient(top, ellipse cover, #de5384 0%,#b90041 100%);   background: radial-gradient(top, ellipse cover, #de5384 0%,#b90041 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#de5384', endColorstr='#b90041',GradientType=1 ) !important; }



.acymailing_module form a:hover, .acymailing_module form a:active, .acymailing_module form a:focus{
	color:#b90041!important;
	text-decoration:underline !important;
	background-color:transparent !important;}
