/**
 * @package    AcyMailing for Joomla!
 * @version    5.10.4
 * @author     acyba.com
 * @copyright  (C) 2009-2018 ACYBA S.A.R.L. All rights reserved.
 * @license    GNU/GPLv3 http://www.gnu.org/licenses/gpl-3.0.html
 */

#adminmenumain, #wpadminbar, #wpfooter{
    display: none;
}

#wpcontent{
    margin-left: 0px;
}

#wpbody {
    position: absolute !important;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

html.wp-toolbar{
    padding-top: 0px !important;
}

#wpbody {
    padding-top: 0px;
}

#wpbody-content {
    padding-bottom: 0px;
}
