/* ОБЩИЕ СТИЛИ */
body,h1,h2,h3,h4,h5,h6{line-height:1.3em;font-family:"Montserrat",arial,sans-serif;font-weight:500;}
.light{font-weight:300;}
.regular{font-weight:400;}
.medium{font-weight:500;}
.semibold{font-weight:600;}
.bold{font-weight:700;}
.extrabold{font-weight:800;}
.black{font-weight:900;}
.sp-pagebuilder-page-edit{display:none !important;}

/* Стили для Хедера */
#header-auth,#header-notauth{box-shadow:0 2px 8px rgba(255,255,255,.15);background:#34495e;color:white;position:relative;font-family:"Roboto",arial,tahoma,sans-serif;}
  #header-notauth{min-height:55px;}

/* Стили для логотипа */
  #header-auth .logotype,#header-notauth .logotype{display:inline-block;}
#header-auth .logotype img,#header-notauth .logotype img{width:200px;margin-top:10px;}

/* Стили для кнопок входа и регистрации */

#header-notauth .block__button-sign{padding-top:8px;}
#header-notauth .block__button-sign a{display:inline-block;
border:none;border-radius:2px;border:none;text-align:center;max-width:150px;width:100%;padding:8px 0;font-size:14px;text-transform:uppercase;font-weight:bold;color:white;transition:.2s;cursor:pointer;}
#header-notauth .block__button-sign a.sign-in{background:#00CC6A;margin-right:5px;box-shadow:0 2px 8px rgba(0, 204, 106,.30);}
#header-notauth .block__button-sign a.sign-up{background:#E74856;
box-shadow:0 2px 8px rgba(231, 72, 86, 0.3);}

#header-notauth .block__button-sign a.sign-in:hover{transform:translateY(-1px);box-shadow:0 2px 0 #039a52;}
#header-notauth .block__button-sign a.sign-up:hover{transform:translateY(-1px);box-shadow:0 2px 0 #a51e2a;}

/* Ссылки навигации */
#header-auth .nav__tools{position:relative;margin-top:-2px;}
#header-auth .nav__tools .nav__link{display:inline-block;min-width:100px;text-align:center;padding:0 3px;color:white;font-size:12px;border-left:1px solid rgba(0,0,0,.1);transition:.2s;min-height:55px;vertical-align:top;}

#header-auth .nav__tools .nav__link img{max-width:23px;display:block;margin:10px auto 2px;}

#header-auth .nav__tools .nav__link:hover{background:rgba(0,0,0,.1);text-decoration:none;}

#header-auth .nav__tools .nav__link:last-child{border-right:1px solid rgba(0,0,0,.1);}

#header-auth .nav__menu{    display: inline-block;
min-width: 50px;
    min-height: 57px;}

#header-auth .nav__menu .icon{cursor:pointer;line-height:55px;text-align:center;    font-size: 25px;}
#header-auth .nav__menu .menu{ transition:.5s;
  opacity:0;visibility:hidden;
      transform: perspective(100px) rotate3d(180,0,0,-5deg);
  display: block;
    max-width: 150px;
    text-align: left;
    width: 100%;
    background: white;
    position: absolute;
    bottom: -25px;
  z-index:99;
    right: 10px;
box-shadow:0 2px 30px rgba(0,0,0,.15);
border-radius:3px;}

#header-auth .nav__menu:hover .menu{opacity:1;visibility:visible;transform: perspective(100px) rotate3d(180,0,0,0deg);}

#header-auth .nav__menu .menu a{font-family:"Roboto",arial,tahoma,sans-serif;    padding: 5px 10px;
    display: block;color:#212121;transition:.5s;}
#header-auth .nav__menu .menu a:hover{background:rgba(0,0,0,.1);}

@media screen and (min-width:581px){
  #header-auth .nav__tools{display:inline-block;vertical-align: top;}
}
@media screen and (max-width:581px){
  #header-notauth .block__button-sign a.sign-up{display:none;margin-right:0px;}
  #header-auth .nav__tools{width: 100%;
    z-index: 50;
    background: #34495e;
    position: fixed;
    bottom: 0;
    left: 0;
  text-align:center;}
  
  #header-auth .nav__tools .nav__link{min-width: 32.9%;
    }
}

/* Стили для футера */

#sp-bottom{font-family:"Roboto",arial,tahoma,sans-serif;background:#2e3032 !important;padding:50px 0 !important;font-size:16px;}

/* Banner footer */
.block_banner-footer{display:block;width:100%;min-height:75px;background-color:#2e3032;border-radius:5px;margin-bottom:30px;box-shadow:0 6px 30px rgba(0,0,0,.2);position:relative;transition:.5s;}
.block_banner-footer a.link{position:absolute;top:0;left:0;width:100%;height:100%;z-index:10;}

.block_banner-footer:hover{box-shadow:0 3px 15px rgba(0,0,0,.5);}
.block_banner-footer.partner{background:#2e3032 url(https://prizolove.com/images/bg-without.jpg) no-repeat center center / cover;}

.block_banner-footer .text,.block_banner-footer .button{position:absolute;top:50%;transform:translateY(-50%);}
.block_banner-footer .text{left:30px;
    font-size: 30px;
    color: #ff9000;
    font-weight: 900;
    text-transform: uppercase;}
.block_banner-footer .button{right:30px;background: #E74856;
    box-shadow: 0 2px 8px rgba(231, 72, 86, 0.3);color:white;font-weight:bold;text-transform:uppercase;font-size:16px;padding:10px 25px;border-radius:5px;transition:.2s;}

.block_banner-footer:hover .button{   margin-top:-1px;
    box-shadow: 0 2px 0 #a51e2a;}


@media screen and (max-width:991px){
  .block_banner-footer .text,.block_banner-footer .button{top:0;transform:translate(0);left:0;width:100%;position:relative;text-align:center;}
  .block_banner-footer{padding:10px;}
}

@media screen and (max-width:450px){
  .block_banner-footer .text{font-size:25px !important;margin-bottom:10px !important;line-height:1.3em;}
  .block_banner-footer .button{font-size:14px;}
}






/* Footer logo */
footer .logo{max-width:200px;margin-left:-7px;display:inline-block;}

/* Footer Email*/
footer .email{margin:30px 0;line-height:1em;}
footer .email::before{content:"";display:inline-block;width:20px;height:20px;background:url(https://prizolove.com/images/footer/email.svg) no-repeat center center / contain;margin-right:10px;vertical-align:middle;}
footer .email a{text-decoration:none;color:white;}

footer .menu{list-style-type:none;padding-left:0;margin-left:0;line-height:1.3em;}
footer .menu li{margin-bottom:15px;}
footer .menu li:last-child{margin-bottom:0px;}
footer .menu li a{display:inline-block !important;color:white !important;font-weight:bold;text-decoration:none;}
footer .title-menu{color:white;opacity:.5;margin-bottom:15px;position:relative;}
footer .title-menu.mobile{display:none;border-bottom:1px solid rgba(255,255,255,.2);padding-bottom:10px;}

footer .title-menu.mobile::after{content:"";display:block;position:absolute;right:0;top:2px;width:15px;height:15px;background:url(https://prizolove.com/images/footer/arrow-down.svg) no-repeat center center / contain;transition:.5s;}

footer .title-menu.mobile.active::after{transform:rotate(180deg);}

/* Payments */
footer .parent_payments{text-align:right;}
footer .payments{vertical-align:middle;display:inline-block;width:100px;height:25px;margin-bottom:15px;}

footer .payments.ipay{background: url(https://prizolove.com/images/footer/ipay-logo.svg) no-repeat left center / contain;height:35px;}
footer .payments.visa{background: url(https://prizolove.com/images/footer/visa-logo.svg) no-repeat left center / contain;}
footer .payments.mastercard{background: url(https://prizolove.com/images/footer/mastercard-logo.svg) no-repeat left center / contain;}
footer .payments.interkassa{background: url(https://prizolove.com/images/footer/interkassa-logo.svg) no-repeat right center / cover;height:39px;width:120px;margin-right:-10px;}



footer .fop{color:white;opacity:0.3;font-size:10px;}
footer .fop.mobile{display:none;}

@media screen and (max-width:991px){
  footer .fop.desctop{display:none;}
  footer .fop.mobile{display:block;text-align:center;}
  
  footer .parent_payments,footer .parent_contacts{text-align:center;}
}

@media screen and (max-width:767px){
  footer .parent_contacts{text-align:left;}
  footer .parent_payments{margin-top:30px;}
  footer .title-menu.desctop{display:none;}
  footer .title-menu.mobile{display:block;}
  footer .menu{max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;}
}

 



/* СТАРЬЕ !!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */



/* СТИЛИ ШАПКИ */
.header{padding:5px 0;background:#34495E;}


/* СТИЛИ ЛОГО БЛОКА */
.logo-block,.nav-block{display:inline-block;vertical-align:middle;font-size:14px;}
.logo-block img{display:inline-block;max-width:100%;padding:5px 0;}





/* СТИЛИ ДЛЯ ШАПКИ АВТОРИЗОВАН */

/* СТИЛИ НАВИГАЦИИ */
.nav-block{text-align:right;}
.nav-block .nav-menu{color:white;display:inline-block;padding: 5px 10px 5px 10px;border-right:1px solid rgba(0,0,0,0.08);transition:.5s;border-radius:5px;}
.nav-block .nav-menu:hover{background:rgba(0,0,0,0.15);text-decoration:none;border-right:1px solid rgba(0,0,0,0.08);}


/* КНОПКА ВОПРОСА И ОТВЕТА */
   /* СТИЛИ ИКОНКИ */
.dropdown.qa-dropdown{display:inline-block;}
.qa-dropdown .btn{display:inline-block;background:rgba(255,255,255,0.3);color:#34495e;border:none;border-radius:50%;padding:0;width:22px;height:22px;font-weight:bold;font-size:16px;line-height:21px;margin-left:5px;transition:.5s;}
.qa-dropdown .btn:hover{background:rgba(255,255,255,1);}
.qa-dropdown .btn:focus,.qa-dropdown .btn:active{background:white !important;color:#364a5d;border:none !Important;outline:none !important;box-shadow:none !important;}

/* СТИЛИ ПОДМЕНЮ */

.qa-dropdown .dropdown-menu{max-width:300px;min-width:300px;left:-270px !important;top:35px !important;font-size:14px;overflow-y:auto;max-height:80vh;border-radius:5px !important;box-shadow:0px 0px 8px rgba(0,0,0,0.3);border:none;position:absolute !important;text-align:left;padding:0 !important;}
.qa-dropdown .dropdown-menu ul{list-style-type:none;}
.qa-dropdown .dropdown-menu h5{font-size:13px;margin-top:10px;padding:0px 10px 0px 10px;}
.qa-dropdown .dropdown-menu hr{margin:0px;padding:0;margin-bottom:0px;}
.dropdown-menu>li>a{padding:10px !important;font-size:13px;font-weight:500 !important;transition:.5s;}
.dropdown-menu>li>a.active{font-weight:bold !important;}
.dropdown-menu .panel-collapse{padding: 10px !important;font-weight:500;font-size:13px;}


/* ОСНОВНАЯ КНОПКА */
.dropdown.profile-dropdown{display:inline-block;}
.dropdown.profile-dropdown button{background:transparent;color:rgba(255,255,255,0.3);border:none;border-radius:50%;padding:0;font-weight:bold;font-size:16px;display:inline-block;line-height:21px;transition:.5s;}

.profile-dropdown .dropdown-menu{max-width:200px;min-width:200px;left:-180px !important;top:20px !important;font-size:14px;overflow-y:auto;max-height:80vh;border-radius:5px !important;box-shadow:0px 0px 8px rgba(0,0,0,0.3);border:none;position:absolute !important;text-align:left;padding:5px 0;}




.dropdown.profile-dropdown button:hover{color:white;}
.dropdown.profile-dropdown button:focus,.dropdown.profile-dropdown button:active{background:transparent !important;color:white;border:none !Important;outline:none !important;box-shadow:none !important;}

.dropdown.profile-dropdown .dropdown-menu a{display:block;width:100%;padding:5px 10px;transition:.5s;color:#333;}
.dropdown.profile-dropdown .dropdown-menu a:hover{background:#34495e;color:white;text-decoration:none;}

.profile-dropdown:hover .dropdown-menu{display:block;}



/* LOGO MOBILE */
.logo-block .mobile-logo svg{width:25px;fill:white;display:none;}

@media screen and (max-width:767px){.logo-block .desctop-logo{display:none;}
  .logo-block .mobile-logo svg{display:inline-block;}
  .nav-block{font-size:12px;}}

@media screen and (max-width:575px){.logo-block{display:none !important;}}
@media screen and (max-width:394px){.nav-block{text-align:center;font-size:12px !important;}
  .nav-block .nav-menu{padding: 5px 5px 5px 5px;}
}
@media screen and (max-width:380px){.logo-block{display:none;}
  .col-11.nav-block{font-size:10px;max-width:100% !Important;flex: 0 0 100%;text-align:center !Important;}
  .qa-dropdown .dropdown-menu{left:-240px !important;}
}



/* СТИЛИ ДЛЯ ШАПКИ НЕАВТОРИЗОВАН */
.header .btn-block{text-align:right;padding-top:0px;}
.btn-block .signup{color:white;font-size:14px;padding:5px 15px;transition:.5s;border-radius:5px;font-weight:500;display:inline-block;}
.btn-block .signup:hover{background:rgba(0,0,0,0.1);text-decoration:none;}
.btn-block .signin{font-weight:600;padding:5px 15px;color:black;background:#FBC02D;font-size:14px;border:1px solid #F9A825;border-radius:5px;transition:.5s;display:inline-block;}
.btn-block .signin:hover{background:#F9A825;box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12);text-decoration:none;}
.btn-block .signin:active{background:#FFF59D;}
.btn-block .signin.mobile{display:none;}

@media screen and (max-width:500px){
  .btn-block{text-align:center !important;} 
  .btn-block .signin.desctop{display:none;}
  .btn-block .signin.mobile{display:inline-block;}
}

@media screen and (max-width:380px){
  .col-11.btn-block{max-width:100% !Important;flex: 0 0 100%;}}


/* Стили структуры */
@media screen and (max-width:1052px){
  .wrapper-achieve{flex: 0 0 100%;
    max-width: 100%;}
  .wrapper-main{flex: 0 0 100%;
    max-width: 100%;}
}



/* БЛОК АЧИВОК */
.block-achieve{width: 100%;
    margin: 10px 0 0 0;
    box-shadow: 0px 2px 6px rgba(0,0,0,0.15);
    border-radius: 5px;
    background: white;}

/* БЛОК ХЕДЕРА АЧИВОК */
.block-achieve .heading{border-top-left-radius:5px;border-top-right-radius:5px;font-size:14px;padding:10px 5px;background:#3498db;color:white;text-align:center;}
.block-achieve .heading span{display:inline-block;font-weight:600;padding-top:10px;}



/* ИНИЦИИРУЕМ БЛЕСК */
.block-achieve .heading .img-wrapper{position:relative;text-align:center;}
.block-achieve .heading .img-wrapper .bag{display:inline-block !important;max-width:100%;    width: 125px;}
.block-achieve .heading .img-wrapper .blesk-1,.block-achieve .heading .img-wrapper .blesk-2,.block-achieve .heading .img-wrapper .blesk-3{position:absolute;

  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;    -webkit-animation-name: bleskScale; 
            animation-name: bleskScale;
animation-iteration-count:infinite;
-webkit-animation-iteration-count:infinite;

    -webkit-animation-direction: alternate;
    animation-direction: alternate;}

.block-achieve .heading .img-wrapper .blesk-1{top:20px;left:20px;width:23px;-webkit-animation-duration: 2s;
  animation-duration: 2s; }
.block-achieve .heading .img-wrapper .blesk-2{bottom:20px;right:20px;width:18px;
-webkit-animation-duration: 1.5s;
  animation-duration: 1.5s; }
.block-achieve .heading .img-wrapper .blesk-3{top:20px;right:20px;width:15px;-webkit-animation-duration: 2.5s;
  animation-duration: 2.5s; }


 /* АНИМАЦИЯ БЛЕСКА */
@-webkit-keyframes bleskScale {
            0% {
              opacity:0;
               transform:scale(0);
            }
            
            
  
            100% {
              opacity:1;
              transform:scale(1);
            }
         }

@keyframes bleskScale {
            0% {
              opacity:0;
              transform:scale(0);
            }
            
            
            100% {
               opacity:1;
              transform:scale(1);
            }
         }
         



/* НИЖНИЙ БЛОК АЧИВОК */
.block-achieve .main{padding:20px 10px;}
/* СТАТИСТИКА */
.block-achieve .main .bonuses{padding:10px 0px;color:#333;font-size:12px;display:block;}
.block-achieve .main  .number,.block-achieve .main .winners{color:#333;font-size:18px;font-weight:700;vertical-align:middle;}
.block-achieve .main .sertificates{vertical-align:middle;color:#333;font-size:12px;}

/* БЛОК СЕРТИФИКАТОВ */

.block-achieve .main .sertificates{position:relative;cursor:pointer;}
.block-achieve .main .sertificates .icon-wrapper{display:inline-block;width:20px;margin-right:10px;vertical-align:top;}
.block-achieve .main .sertificates .about{position:absolute;top:30px;left:0px;width:200px;border-radius:5px;background:white;box-shadow:0px 0px 16px rgba(0,0,0,0.15);text-align:center;padding:10px;z-index:9998;opacity:0;visibility:hidden;transition:.5s;transform: perspective(100px) rotate3d(180,0,0,-5deg);}
.block-achieve .main .sertificates:hover .about{opacity:1;visibility:visible;transform: perspective(100px) rotate3d(180,0,0,0deg);}

/* БЛОК БОНУСОВ */
.block-achieve .main .bonuses{position:relative;cursor:pointer;}
.block-achieve .main .bonuses .about{position:absolute;top:30px;left:0px;width:200px;border-radius:5px;background:white;box-shadow:0px 0px 16px rgba(0,0,0,0.15);text-align:center;padding:10px;z-index:9997;
opacity:0;visibility:hidden;transition:.5s;transform: perspective(100px) rotate3d(180,0,0,-5deg);}
.block-achieve .main .bonuses:hover .about{opacity:1;visibility:visible;transform: perspective(100px) rotate3d(180,0,0,0deg);}
.block-achieve .main .bonuses .icon-wrapper{display:inline-block;vertical-align:top;width:20px;margin-right:7px;}

/* БЛОК ПОБЕДИТЕЛЕЙ */
.block-achieve .main .winners .icon-wrapper{display:inline-block;vertical-align:top;width:20px;margin-right:10px;}


/* БЛОК ЗАГАДОК ПРОШЕЛ ИЛИ НЕТ */
.akciya .accept-puzzle{text-align:right;z-index:10;}
.akciya .accept-puzzle.done  {  position:relative;color: #2ecc71;
    margin-bottom: -20px;
    padding: 5px 0;
    font-size: 18px;}

.akciya .accept-puzzle.notdone  {position:relative;  color: #e74c3c;
    margin-bottom: -20px;
    padding: 5px 0;
    font-size: 18px;}

.akciya .accept-puzzle.new  {position:relative;  color: #9b59b6;
    margin-bottom: -20px;
    padding: 5px 0;
    font-size: 14px;font-weight:800;}
.akciya .accept-puzzle.new .text{font-size:12px;left:-10px;}

.akciya .accept-puzzle:hover .text{opacity:1;visibility:visible;transform: perspective(100px) rotate3d(180,0,0,0deg) translateY(-50%);}

.akciya .accept-puzzle .text{position: absolute;
    left: -5px;
      padding: 5px;
    border-radius: 5px;
    top: 50%;
    font-size: 14px;
opacity:0;visibility:hidden;transform: perspective(100px) rotate3d(180,0,0,-5deg) translateY(-50%);transition:.5s;background:white;box-shadow:0px 2px 6px rgba(0,0,0,0.2);}

/* mobile winners */
@media screen and (max-width:768px){.product_block_wrapper.winners{width:26% !important;padding:5px !important;}
.product_block_wrapper.winners img{display:none;}
  .product_block_wrapper.winners .title_name{font-size:12px;line-height:1.3em;}
  .product_block_wrapper.winners .testimonial{font-size:10px;line-height:1.3em;}

}

@media screen and (max-width:500px){
  .product_block_wrapper.winners{width:40% !important;padding:5px !important;}
  .product_block_wrapper.winners:last-child{display:none;}
  
}




/* ВСЕ ОСТАЛЬНЫЕ СТИЛИ */

.com-prizoloveprofile #sp-main-body {padding: 0 !important;}


.container_for_button{
   margin: 25px;
}

.btn-see-more_new{
         background:#6dd520;
    color: white;
    text-align: center;
    padding: 15px 30px;
    border-radius: 10px;
    font-weight: bold;
    display: block;
    font-size: 16px;
    margin: 10px;
    box-shadow: 0px 3px 0px #6dd511;
 
}


.login-link{display: inline-block;
    font-size: 14px;
    line-height: 14px;
    color: #3e77aa;
    padding: 20px 30px;text-decoration:underline;}

.login-link:hover{color:#fb3f4c;}

.fa{font-family:"FontAwesome",sans-serif !important;}

.prise {
font-weight:700;
font-family:"Roboto",sans-serif;
text-align:center;
font-size:100px;
line-height:100px;
color:#212121;
  margin-top:10px;
}
.prise-discount {
font-size: 25px; 
line-height: 25px;
font-family:"Roboto",sans-serif;
font-weight:300;
}
@media screen and (max-width:767px){ 
.prise {
font-weight:700;
font-size:40px;
line-height:45px;
color:#b01a86;
text-align:center;
font-family:"Roboto",sans-serif;
} 
.prise-discount {
font-family:"Roboto",sans-serif;
text-align:center;
font-size:17px;
line-height:18px;
color:#6b6b6b;
font-weight:300;
} 
}
.cart__minus, .cart__plus {
    margin: 0 auto;
    display: block;
    width: 60px;
    padding: 5px 0;
    background: #fc4545;
    text-align: center;
    color: #fff;
    vertical-align: top;
    font-size: 25px;
    font-weight: bold;
    font-family: "Montserrat",sans-serif;
}

.cart__minus:hover, .cart__plus:hover {
    color:#4f0c0c;
}

.cart__count {
    display: block;
    width: 60px;
    height: 40px;
    margin: 0 auto;
    border: 1px solid #b7b7b7;
    text-align: center;
    background: #ffffff !important;
    outline: none;
    font-size: 21px;
    font-family: "Montserrat",sans-serif;
    font-weight: 600;
}

table.cart {
    border-collapse: collapse;

}
table.cart th {
    text-align: center;
    font-weight: normal;
    background: #e9e9e9;
}
table.cart td, table.cart th {
    border: 1px solid #d7d7d7;
}

.cart__product__title {

}

.cart__product__title span {
    font-family: Montserrat;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
}

.cart__buttons a:hover{
    background: #f51f1f;
    color:#fff;
}
.cart__buttons a{
    cursor: pointer;
    background-color: #fc4545;
    color: #FFFFFF;
    padding: 10px 30px 10px 30px;
    font-size: 18px;
    font-weight: 500;
    font-family: Montserrat;
}

.footer-info li{font-weight:500;font-family:"Montserrat",sans-serif;font-size:13px;color: #6a829a;}
.footer-column{display:inline-block;width:32%;vertical-align:top;padding:10px;}
.footer{padding:0px 0 10px 0 !important; background-color: #2c3e50 !important;}
.zag{font-size:18px;color: #6a829a;font-weight: 600;border-bottom: 1px solid #314354;padding-bottom:13px;font-family:"Montserrat",sans-serif;}
.pl-logo.logotype{width:80%;}
.footer-info li{margin:5px 0;}
.footer-column ul li a{color:#6a829a !important;}
.footer-info li a{display:inline-block !important;color:#6a829a !important;transition:.5s;font-family:"Montserrat",sans-serif;font-weight:500;font-size:13px !important;position:relative;}
.footer-info li a img{display:inline-block;width:25px !important;margin-right:5px;}
.footer-info li a:hover{color:#fff !important;}
.footer-info li a::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: -2px;
  left: 0;
  background-color: white;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.footer-info li a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.footer-column ul{list-style-type:none;margin:0 !important;padding:0px !important;}


@media screen and (max-width:550px){
  .footer-column{width:100% !important;}
  
}

.sp-module ul>li{border:none !important;}
.sp-module ul>li>a {
    
    line-height: 24px !important;
}


.sp-module ul>li>a:before {
    font-family: FontAwesome;
    content: " " !important;
    margin-right: 0px !important;
}

#sp-section-1{
    background-color: #f5f5f5!important;}

.breadcrumb {
     font-family:"Montserrat",sans-serif !important;
    padding: 2px 15px!important;
  color:#212121;
    list-style: none!important;
    background-color: #f5f5f5!important;
    width: 100%!important;
    margin: 0 auto!important;
    text-align:center!important;
}
.footer_select_form{
 background-color:  #4B4B4B !important;
 border:none!important;
  color:#999;
}

.container_timer_priz{
display: flex;
flex-direction: row;
justify-content: center;
font-size: 40px;
color: #00974c;
font-weight: bold;
 font-family:"Montserrat",sans-serif;
}

#pl-cart {
        position: fixed;
        bottom: 0;
        right: 0;
        cursor: pointer;
  		z-index:9999;
    }
    .pl-cart__product-num {
        font-size: 20px;
        font-weight: bold;
        color: #fff;
        position: absolute;
        top: 5px; right: 0px; left: 41px;
        text-align: center;

    }
    .pl-cart__image {
        width: 83px; height: 88px;
        background: url('../../../images/icons/cart.png') no-repeat top left;
    }
    .active .pl-cart__image {
        background: url('../../../images/icons/cart-active.png') no-repeat top left;
    }

.product__carat-price { text-align: center; }
.com-affiliatetracker #sp-main-body {padding: 0;}
.com-affiliatetracker .container {max-width:1170px !important;}

@media (min-width: 992px) {
.com-affiliatetracker .container {
	max-width: 1170px !important;
//	width: 1170px;
}
}
@media (min-width: 768px) {
.com-affiliatetracker .container {
	max-width: 1170px !important;
//	width: 1170px;
}
}
@media screen and (max-width:1170px){
.container{max-width:1170px !important;}
}
.table-affiliate, .rows-table-affiliate{font-size:16px;}
.affiliate-menu{width:100%;}
.affiliate-menu a{border-top-left-radius:10px;border-top-right-radius:10px;display:inline-block;width:33%;text-align:center;padding:10px 20px;background:rgba(0,0,0,0.2);color:white;font-weight:500;font-family:"Montserrat",sans-serif;}
.affiliate-menu .active{background:white;color:black;}

.affiliate-menu a:hover{background:white;color:black;}

.paket{box-shadow:0px 2px 6px rgba(0,0,0,0.15);transition:.5s;border-radius:10px;}
.paket:hover{box-shadow:0px 2px 6px rgba(0,0,0,0.3);}
.paket .topper{position:relative;overflow:hidden;background:#252525;padding:40px 0;    font-size: 30px;
    line-height: 30px;font-weight:700;border-top-right-radius:10px;border-top-left-radius:10px;text-align:center;color:white;text-shadow:0px 0px 50px rgba(0,0,0,30);}
.paket-1 .topper{background: url(https://prizolove.com/images/saphfire-1.JPG) no-repeat center center;
    background-size: cover;}
.paket-2 .topper{background: url(https://prizolove.com/images/saphfire-2.JPG) no-repeat center center;
    background-size: cover;}
.paket-3 .topper{background: url(https://prizolove.com/images/saphfire-3.JPG) no-repeat center center;
    background-size: cover;}
.paket-4 .topper{background: url(https://prizolove.com/images/paket-4.jpg) no-repeat top center;
    background-size: cover;}
.paket-5 .topper {background: url(https://prizolove.com/images/pitstop-paket.jpg) no-repeat center center;
    background-size: cover;}
.paket-6 .topper {background: url(https://prizolove.com/images/paket-6.png) no-repeat top center;
    background-size: cover;
}
.paket .vklad{    font-size: 35px;
    line-height: 35px;font-weight:900;text-align:center;padding:20px 0 0 0;}
.paket .summa{    font-size: 16px;
    font-weight: 400;text-align:center;padding-bottom:20px;}
.paket .inner{background:white;border-bottom-right-radius:10px;border-bottom-left-radius:10px;}
.paket .plus{color: #4f4f4f;
    margin: 0 20px 0px 30px;
    padding: 15px 0;
    font-size: 16px;
    position: relative;
    border-bottom: 1px solid #cecece;}
.paket .plus:after{    content: "";
    color: green;
    font-family: "FontAwesome",sans-serif;
    position: absolute;
    top: 13px;
    left: -22px;
    font-size: 16px;}
.paket .price{font-weight:700;border-bottom: 0px !important;}
.paket .btn-wrapper{text-align:center;margin-bottom:20px !important;}
.paket .btn-buy:hover{    background: linear-gradient(-90deg,#2948ff,#396afc) !important;
    opacity: 1 !important;}
.paket .btn-buy:active{background: linear-gradient(-90deg,#2948ff,#396afc) !important;
    box-shadow: none !important;
    opacity: 1 !important;
    transform: translateY(3px) !important;}
.paket .btn-buy{display:inline-block;margin:0px 0px 20px 0px;transition:.5s;padding: 20px 20px;
    text-transform: uppercase;
    font-weight: 400;
    transform: translateY(0px);
    letter-spacing: 1px;
    font-size: 14px;
    background: linear-gradient(90deg,#2948ff,#396afc);
    transition: .5s;
    border-radius: 7px;
    border: none;color:white;text-decoration:none;font-weight:700;
    box-shadow: 0px 3px 0px #233ed9 !important;}
.paket .oplata{padding:20px 0 30px 0;font-weight:600;text-align:center;}

.paket .best-topper:after{content: "Лучший выбор";
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    background: #EB5834;
    padding: 0px 25px;
    position: absolute;
    top: 32px;
    right: -32px;
    transform: rotate(45deg);}


.block-banner-partner-footer{display:flex;align-items:center;width:100%;margin:10px 0 10px 0;overflow:hidden;border-radius:5px;box-shadow:0px 2px 6px rgba(0,0,0,0.15);background:url(https://prizolove.com/images/bg-without.jpg) no-repeat center center;background-size:cover;height:75px;position:relative;padding:0px 30px 0px 30px;}
.block-banner-partner-footer a{position:absolute;width:100%;height:100%;top:0;left:0;}
.block-banner-partner-footer .text{width:100%;font-size:30px;color:#ff9000;font-weight:800;text-transform:uppercase;}
.block-banner-partner-footer .button{background:#FF5754;color:white;padding:10px 30px;display:inline-block;border-radius:10px;font-weight:bold;font-size:16px;box-shadow:0px 3px 0px #a53d3d;vertical-align:middle;max-width: 35%;width: 100%;text-align: center;}
.block-banner-partner-footer:hover .button{background:#e84747;}

/*** Popup styles ***/
body.modal-open > .wrap { overflow: hidden; height: 100%; }

.modal-content,
.modal-dialog,
.modal-body { height: inherit; min-height: 100%; }

.modal { min-height: 100%; }

.pl-modal .modal-content {border: 0 none;}
#reg-popup .modal-dialog, #thankyou-popup .modal-dialog {pointer-events: auto;}

.popup_registration, .popup_enter, .popup_lost, .popup_thankyou{
    width:100%;
    border-radius:15px;  
    max-width:400px;
    margin:50px auto;
    background:white;
    text-align:center;
    box-shadow:0px 0px 30px rgba(0,0,0,0.15);
    z-index: 9999;
}
.popup_registration.page{
    display: block;
    width: auto;
    max-width: none;
    border-radius: 0;
    box-shadow: none;
}
.popup_registration.page .modal-content{
    padding: 15px;
}
.popup_registration::before, .popup_thankyou::before {
   /* left: 50px !important;*/
}
.popup_enter, .popup_lost{
    overflow:hidden;
/*    position:fixed; */
    padding:20px;
}
.popup_registration .close_popup,
.popup_thankyou .close_popup{right: 12% !important;}
.close_popup{position:absolute;top:10px;right:10px;color:white;z-index:99999;font-weight:bold;background:white;color:#212121;width:30px;height:30px;font-size:14px;line-height:30px;border-radius:50%;transition:1s; z-index: 9999; cursor: pointer;}
.close_popup:hover{background:#e74c3c;color:white;transform: rotate(360deg);cursor: pointer;}

.popup_registration .title, .popup_enter .title, .popup_lost .title{color:#212121;font-weight:700;font-size:20px;}
.popup_registration .text{color:#212121;padding:20px 0;font-weight:500;}
.popup_registration .btn_winner,.popup_registration .btn_partner{text-align:left;display:block;width:100%;border:2px solid #dfdfdf;border-radius:10px;padding:10px 0;text-decoration:none;font-size:16px;font-weight:500;color:#212121;margin-bottom:20px;transition:.5s;}
.popup_registration .btn_winner:hover{color:#ff5754;border:2px solid #FF5754;}
.popup_registration .btn_partner:hover{color:#825d75;border:2px solid #825d75;}
.popup_registration{overflow:hidden;}
.popup_registration, .popup_thankyou{padding:120px 20px 20px 20px;background: url(https://prizolove.com/images/header-popup.png) no-repeat top center;
    background-size: contain;
    background-color: white;}


.popup_registration .enter_in, .popup_enter .enter_in, .popup_enter .lost_password, .popup_lost .enter_in{color:#212121;font-size:14px;font-weight:500;}
.popup_registration .enter_in a, .popup_enter .enter_in a,.popup_enter .lost_password a, .popup_lost .enter_in a{text-decoration:none;color:#48B750;font-weight:700;transition:.5s;}
.popup_registration .enter_in button, .popup_enter .enter_in button,.popup_enter .lost_password button, .popup_lost .enter_in button{text-decoration:none;color:#48B750;font-weight:700;transition:.5s; border: 0 none; background: none; cursor: pointer;}
.popup_registration .enter_in a:hover, .popup_enter .enter_in a:hover,.popup_enter .lost_password a:hover, .popup_lost .enter_in a:hover{color:#147334;}
.popup_registration .enter_in button:hover,
.popup_registration .enter_in button:active,
.popup_registration .enter_in button:focus,
.popup_enter .enter_in button:hover,
.popup_enter .enter_in button:active,
.popup_enter .enter_in button:focus,
.popup_enter .lost_password button:hover,
.popup_enter .lost_password button:active,
.popup_enter .lost_password button:focus,
.popup_lost .enter_in button:hover{color:#147334; border: 0 none;}
.btn_winner img, .btn_partner img{width:40px;margin:0 20px;vertical-align:middle;}

.popup_enter .lost_password{margin-top:10px;}


.popup_enter .inputs, .popup_lost .inputs, .popup_registration .inputs{text-align:left;margin:30px 0px 15px 0;}
.popup_enter label, .popup_lost label, .popup_registration label{color:#39414b;font-size:16px;font-weight:600;}
.popup_enter input, .popup_lost input, .popup_registration input{width:100%;border-radius:10px;outline:none !important;padding:20px 0px 20px 20px !important;box-shadow:none !important;border:2px solid #dfdfdf !important;transition:.5s;margin:5px auto 20px auto;background:white !important;font-family:Montserrat,Arial,sans-serif;font-size:16px;font-weight:500;color:#212121;}
.popup_enter input:hover, .popup_lost input:hover, .popup_registration input:hover{border:2px solid #48B750 !important;}
.popup_enter input:focus, .popup_lost input:focus, .popup_registration input:focus{border:2px solid #48B750 !important;}

.popup_enter .btn-form, .popup_lost .btn-form, .popup_registration .btn-form{display:block;width:100%;text-align:center;background:#48B750;border-radius:10px;padding:15px 0;color:white;font-size:18px;font-weight:600;text-decoration:none;transition:.5s;}
.popup_enter .btn-form:hover, .popup_lost .btn-form:hover, .popup_registration .btn-form:hover{background:#147334;}



.name-user{color:white;font-weight:500;font-family:Montserrat,Arial,sans-serif;font-size:18px;}
.inline{display:inline-block;vertical-align:middle;}
@media screen and (max-width:768px){
  .name-user{display:none !important;}
  .inline a{display:block;width:100%;}}
.inline img{margin-left:20px;}
.inline a{margin-left:20px;transition:.5s;}
.inline a span{color:white;border-bottom:1px dotted white;font-size:12px;}
.inline i{border-bottom:0px;color:white;font-size:12px;}
.inline a:hover{opacity:0.6;text-decoration:none;}

.enters{text-align:right;}
.enters img{width:20px;margin-right:10px;vertical-align:middle; display: inline;}
.enters a{color:#ecf0f1;text-decoration:none;font-size:14px;display:inline-block;font-weight:600;padding: 7px 0;transition:.5s;}
.enters a:hover{color:#FF5754;}
.popup_thankyou img{
    width:100px;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: popupBounceIn;
    animation-name: popupBounceIn;
    position:relative;
    z-index:2;
    margin:auto;
}
.popup_thankyou .pp-image::before,.popup_thankyou .pp-image::after{
    content:"";
    position:absolute;
    display:block;
    width:100px;
    height:100px;
}
.popup_thankyou .pp-title{
    font-weight:700;
    font-size:21px;
    color:#3FB659;
    padding:20px 0;
}
.popup_thankyou .pp-text{
    font-size:14px;
    line-height:18px;
    font-weight:500;
}
.popup_thankyou .pp-image::before{
    left:-20px;
    top:0;
    background:url(https://prizolove.com/images/firework-left-popup.png) no-repeat center center;
    background-size:contain;transform:translateX(100px);
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: popupLeftFadeIn;
    animation-name: popupLeftFadeIn;
}
.popup_thankyou .pp-image::after{
    right:-20px;top:0;
    background:url(https://prizolove.com/images/firework-right-popup.png) no-repeat center center;background-size:contain;
    transform:translateX(-100px);
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;    -webkit-animation-name: popupRightFadeIn;
    animation-name: popupRightFadeIn;}
.error-popup-enter{font-size:14px;font-family:"Montserrat",sans-serif;color:red;font-weight:500;margin-bottom:20px;}

@-webkit-keyframes popupBounceIn {
    0% {
        opacity: 0;
        -webkit-transform: scale(.3);
    }
    30% {
        opacity: 1;
        -webkit-transform: scale(1.15);
    }
    60% {
        -webkit-transform: scale(.9);
    }
    85% {
        opacity: 1;
        -webkit-transform: scale(1.15);
    }


    100% {
        -webkit-transform: scale(1);
    }
}

@keyframes popupBounceIn {
    0% {
        opacity: 0;
        transform: scale(.3);
    }
    30% {
        opacity: 1;
        transform: scale(1.15);
    }
    60% {
        transform: scale(.9);
    }
    85% {
        opacity: 1;
        -webkit-transform: scale(1.15);
    }
    100% {
        transform: scale(1);
    }
}



@-webkit-keyframes popupLeftFadeIn {
    0% {
        opacity: 0;
        transform:translateX(100px);
    }


    100% {
        opacity: 1;
        transform:translateX(25px);
    }
}

@keyframes popupLeftFadeIn {
    0% {
        opacity: 0;
        transform:translateX(100px);
    }


    100% {
        opacity: 1;
        transform:translateX(50px);
    }
}


@-webkit-keyframes popupRightFadeIn {
    0% {
        opacity: 0;
        transform:translateX(-100px);
    }


    100% {
        opacity: 1;
        transform:translateX(-25px);
    }
}

@keyframes popupRightFadeIn {
    0% {
        opacity: 0;
        transform:translateX(-100px);
    }


    100% {
        opacity: 1;
        transform:translateX(-50px);
    }
}

/* ПОДСКАЗКИ */
.parent-qa{width:20px !important;padding-bottom:0px !important;display:inline-block;position:relative;}
.question1-icon,.question2-icon,.question3-icon,.question4-icon,.question5-icon{opacity:0.5;cursor:pointer;z-index:9999;display:inline-block;}
.question-1, .question-2, .question-3, .question-4, .question-5{position:absolute;width:300px !important;max-width:300px !important;font-size:14px;background:white;border-radius:10px;color:#212121;padding:10px;box-shadow:0px 0px 15px rgba(0,54,255,0.19); transform:translateY(-15px);transition:.5s;opacity:0;visibility:hidden;font-weight:500;}

.question-1{top:-360%;left:-135px;}
.question-2{top:-500%;left:-202px;width:450px !important;max-width:450px !important;}
.question-3{top:-280%;left:-135px;}
.question-4{top:-70px;left:-135px;}
.question-5{top:-90%;left:-135px;}
.question-1::after, .question-2::after, .question-3::after, .question-4::after , .question-5::after{
    content: '';
    position: absolute; /* Абсолютное позиционирование */
    left: 45%; bottom: -20px; /* Положение треугольника */
    border: 10px solid transparent; /* Прозрачные границы */
    border-top: 10px solid white; /* Добавляем треугольник */
}


.question1-icon:hover ~ .question-1, .question2-icon:hover ~ .question-2, .question3-icon:hover ~ .question-3, .question4-icon:hover ~ .question-4, .question5-icon:hover ~ .question-5{opacity:1 !important;transform:translateY(0px) !important;visibility:visible;}


/* PROFILE PAGE */

.rating-parent{margin:0px 0px 20px 0;}
.rating-parent img{display:inline-block;width:19%;vertical-align:middle;margin-right:10px;}
.rating-parent .right-block{display:inline-block;width:72%;vertical-align:middle;text-align:left;}
.rating-parent .right-block .count{font-size:18px;color:white;font-weight:bold;line-height:18px;width:100%;display:block;}
.rating-parent .right-block .text{font-size:14px;color:white;font-weight:500;line-height:14px;}







.profile-body{background:#F0F4F9;}

.block-list-akcii,.block-list-vitrina{width:100%;    margin: 10px 0 0 0;box-shadow:0px 2px 6px rgba(0,0,0,0.15);border-radius:5px;background:white;}
.block-list-vitrina:last-child{margin:10px 0 10px 0 !important;}
.block-list-akcii .title-block,.block-list-vitrina .title-block{padding:5px 0;border-bottom:1px solid rgba(0,0,0,0.15);text-align:center;}

.block-list-akcii .title,.block-list-akcii .count,.block-list-vitrina .title{display:inline-block;font-size: 25px;
    line-height: 30px;font-weight:bold;color:#39414b;padding:5px 10px;}
@media screen and (max-width:756px){
  
  .block-list-akcii .title,.block-list-akcii .count,.block-list-vitrina .title{font-size:18px;line-height:1.3em;padding:5px 0;}
}
.block-list-akcii .count{text-align:right}
.block-list-akcii .title{    font-size: 25px;
    line-height: 1em !important;}

.block-list-akcii .body, .block-list-vitrina .body{padding:20px;}

.block-list-akcii .body .akciya{display:inline-block;width:28%;text-align:center;box-shadow:0px 0px 6px rgba(0,0,0,0.15);border-radius:5px;padding:5px;border-bottom:3px solid white;margin:5px 15px;transition:.5s;}
.block-list-akcii .body .akciya:hover{box-shadow:0 2px 30px rgba(0,0,0,0.2);border-bottom:3px solid #ccc;}
.block-list-akcii .body .name{overflow:hidden;color:#39414b;font-weight:bold;font-size:14px; height: 50px;}
.block-list-akcii .akciya:hover .name{color:#FF5754;}
.block-list-akcii .body .slojnost{color:gray;font-weight:500;font-size:14px;}


.block-list-akcii .body .btn-see-more{display:block;text-align:center;margin:0 auto;max-width:250px;margin:10px auto 0 auto; color:white;background:#2ecc71;padding:5px 0;font-size:14px;font-weight:600;box-shadow:0 3px 0 #27ae60;text-decoration:none !important;transition:.2s;}
.block-list-akcii .body .btn-see-more:hover{transform:translateY(-2px);box-shadow:0 3px 0 #27ae60, 0 2px 10px #27ae60;}
.block-list-akcii .body .btn-see-more i{padding-right:5px;}



.block-banner-partner{display:flex;align-items:center;flex-wrap:wrap;;width:100%;margin:30px 0;overflow:hidden;border-radius:5px;box-shadow:0px 2px 6px rgba(0,0,0,0.15);background:url(https://prizolove.com/images/bg-without.jpg) no-repeat center center;background-size:cover;height:200px;position:relative;padding:0px 30px 0px 30px;}
.block-banner-partner a{position:absolute;width:100%;height:100%;top:0;left:0;z-index:9997;}
.block-banner-partner .text{width:100%;font-size:30px;color:#ff9000;font-weight:800;text-transform:uppercase;}
.block-banner-partner .button{background:#FF5754;color:white;padding:10px 30px;margin-top:-50px;display:inline-block;border-radius:10px;font-weight:bold;font-size:16px;box-shadow:0px 3px 0px #a53d3d;}
.block-banner-partner:hover .button{background:#e84747;}




.profile-body .block-facebook-group{margin:30px 0 30px 0;background:white;padding:20px;color:#212121;font-weight:bold;border-radius:5px;text-align:center;font-size:18px;display:flex;min-height:300px;justify-content:center;align-items:center;box-shadow:0px 0px 6px rgba(0,0,0,0.15);}
.profile-body .block-facebook-group:hover{box-shadow:0px 2px 6px rgba(0,0,0,0.25);}

.profile-body .block-share{margin:30px 0 0px 0;background:white;box-shadow:0px 0px 6px rgba(0,0,0,0.15);text-align:center;border-radius:5px;overflow:hidden;}
.profile-body .block-share .title{background:#589BEE;padding:20px 20px 20px 20px;color:white;font-weight:bold;font-size:18px;}
.profile-body .buttons{padding:20px;}
.profile-body .btn-share{width:100%;display:block;margin-bottom:10px;border-radius:5px;padding:10px 0 10px 20px;text-align:left;color:white;font-weight:bold;font-size:13px;}
.profile-body .btn-share:last-child{margin-bottom:0px;}

.profile-body .btn-share i{width:20px;}

.profile-body .share-vk{background:#507299;box-shadow:0px 2px 0px #3c5673;}
.profile-body .share-ok{background:#f68634;box-shadow:0px 2px 0px #b96527;}
.profile-body .share-fb{background:#3e5695;box-shadow:0px 2px 0px #2f4170;}
.profile-body .share-friend{background:#5ebd75;box-shadow:0px 2px 0px #2e9948;}

@media screen and (max-width:768px){
    .akciya {width: 49% !important;margin:0px 0 10px 0;} 
  .block-list-akcii .body .name {font-size:12px;height:28px;margin:5px 0;line-height:1.1em;}
  .block-list-akcii .body .slojnost {
    line-height: 1em;
    font-size: 12px;}
  .product_image_wrapper {
    height: 100px;}
    .profile-parent,.rating-parent{text-align:center !important;}
    .rating-parent .rating{width:49%;padding:10px 0;}
    .block-list-akcii .title, .block-list-akcii .count, .block-list-vitrina .title{width:100%;text-align:center;}
    .block-list-akcii .body .akciya{width:49%;margin:0;}
    .product_block_wrapper {width: 100% !important;}
    .block-list-akcii .body, .block-list-vitrina .body {
    padding: 20px 5px;
}
}



/* CATALOG BLOCK  */
.product_block_wrapper{display:inline-block;background:white;width:30%;text-align:center;box-shadow:0px 0px 6px rgba(0,0,0,0.15);border-radius:5px;padding:5px;margin:10px 10px;transition:.5s;padding:60px 10px 10px 10px;width:30%;transition:.5s;border-bottom:3px solid white;position:relative;}
.product_block_wrapper:hover{border-bottom:3px solid #ccc;box-shadow:0 2px 30px rgba(0,0,0,0.2);}
.product_block_wrapper img{max-width:150px;width:100%;}
.product_block_wrapper img.product_image {max-width:150px;width:100%; height: 100px; text-align: center; margin: auto;}
.product_block_wrapper .title_name{color:#39414b;font-weight:bold;font-size:14px;margin:10px 0;text-align:center;}
.product_block_wrapper:hover .title_name{color:#fb3f4c;}
.product_block_wrapper .price{text-align:center;background:#fff387;color:#212121;font-weight:500;font-size:14px;vertical-align:top;padding:10px;width:70%;display:inline-block;}
.product_image_wrapper {    position: relative;text-align:center;width:100%; height: 150px; overflow: hidden;}
.product_image_wrapper img{    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);}
.product_block_wrapper .free{ display: block;
    top: 5px;
    left: -14px;
    position: absolute;
    z-index:10;
    background: url(https://prizolove.com/images/free.png) no-repeat center center;
    background-size: cover;
    width: 198px;
    text-align: center;
    line-height: 35px;
    color: white;
    font-size: 14px;
    font-weight: 600;
    height: 45px;
    margin: 10px 0 -10px 0;}

.product_block_wrapper .diamond_product {
    position: absolute;
    width: 25px;
    height: 25px;
    top: 20px;
    right: 20px;
    background: url(https://prizolove.com/images/diamond_red.png) no-repeat center center;
    background-size: cover;
    z-index: 11;
}

.product_block_wrapper .diamond_text {
    font-weight: 500;
    transform: translateY(20px);
    position: absolute;
    top: 60px;
    right: 0;
    margin:0 10px;
    z-index:11;
    background: white;
    box-shadow: 0px 2px 6px rgba(0,0,0,0.2);
    font-size: 12px;
    padding: 10px;
    line-height: 1.7em;
    transition: .5s !important;
    opacity: 0;
    color:#212121;
    border-radius: 10px;
}

.diamond_product:hover ~ .diamond_text{display:block;opacity:1;z-index:11;transform:translateY(0px);}

.product_block_wrapper .button{display:inline-block;width:20%;    background: -webkit-linear-gradient(top,#79d670,#4bbe3f);box-shadow: 3px 3px 7px 0 rgba(105,206,95,.5), inset 0 -3px 0 0 #3a9731;border-radius:5px;padding:8px 0;color:white;text-align:center;transition:.5s;}
.product_block_wrapper .button img{width:25px;}

.product_block_wrapper:hover .button{background:-webkit-linear-gradient(top,#69f95b,#1fc80d);}

.main-login-block {margin: auto;}

/* Popup container - can be anything you want */
.popup_hap {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* The actual popup */
.popup_hap .popuptext {
    visibility: hidden;
    width: 250px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 30%;
    margin-left: -80px;
}

/* Popup arrow */
.popup_hap .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup_hap .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}



@media screen and (max-width:575px){  
  .logo-block,.enters{text-align:center;}  
}
.bg_e74c3c { background-color: #e74c3c !important; }
.bg_e74c3c a {color :#fff; text-decoration: underline !important;}
.bg_e74c3c a:hover {color :#fff; text-decoration: none; }

/*** Referal page **/

.referal-body .block-how{width:100%;}
.referal-body .block-how .wrapper{text-align:center;display:inline-block !important;width:24%;vertical-align:top;}
.referal-body .block-how img{max-width:150px;width:100%;margin:0 auto;display:block;}
.referal-body .block-how .text{padding-top:10px;width:100%;font-size:16px;line-height:21px;}
.referal-body{border-radius:10px;}
@media screen and (max-width:889px){.block-how .wrapper{width:49% !important;}
  .link-ref-block .copy{position:relative;right:0px;}}

.referal-body .title{padding:25px 0;text-align:center;color:#39414b;font-weight:bold;font-size:18px;line-height:21px;border-bottom: 1px solid rgba(0,0,0,0.15);margin-bottom:25px;}
.referal-body .background-title{color:black;display:inline-block;font-weight:600;margin-bottom:25px;font-size:18px;}
.referal-body .text{font-size:16px;line-height:23px;font-weight:400;}
.referal-body .line{margin:25px 0;width:100%;height:1px;background:rgba(0,0,0,0.15);}
.referal-body .text span{padding-left:5%;}

.links-ref-block{text-align:center;margin:0;color:#000;}
.title-ref{position:relative;text-align:center;font-weight:bold;padding:10px;font-size:21px;color:white;}
.copy{display:block;padding:5px 8px 5px 8px;position:absolute;top:50%;right:20px;text-align:center;margin-top:2px;/* color:white !important;background:#7a231d; */}
.copy:hover{ /* background:#a03531; */}
.copy:active{transform:scale(1.5);}
.link-ref{padding:10px;font-weight:500;font-size:21px;}
.link-ref-block{margin-top:10px;padding:10px 0;font-size:18px;}


/* СТИЛИ ДЛЯ АЛЕРТА  */

.alert-success{
    font-weight:500;
    border-left:10px solid #8ac38b;
    border-color: #8ac38b;
    color: #356635;
    background: #CBDFC4;position:relative;}

.alert-success button{color:#ce2d2d;text-decoration:underline !important;opacity:0.4;background: none;}
.alert-success button:hover{opacity:1;}
.alert-success .close-btn{position:absolute;top:10px;right:10px;font-size:16px;}
.alert .btn-link:hover {
    color:#ce2d2d;
    background: none;
}


/* Стили попапа */
.popup-bonuses-spis{font-family:"Montserrat",arial,sans-serif;font-weight:500;max-width:500px;background:white;min-height:100px;width:100%;position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);border-radius:5px;box-shadow:0px 2px 8px rgba(0,0,0,0.15);text-align:center;padding:0 0px 20px 0px;}

.popup-bonuses-spis .topper{text-align:center;width:100%;padding:10px 0 20px 0;background:url(https://prizolove.com/images/topper_sert.png) no-repeat 0% 120%;background-size:cover;}
.popup-bonuses-spis .topper img{width:35px;margin: auto;}


.popup-bonuses-spis .icon-wrapper{display:inline-block;width:20px;vertical-align:middle;margin-right:5px;}
.popup-bonuses-spis h5{font-size:21px;font-weight:700;margin:0px 0 20px 0;}
.popup-bonuses-spis .stat{font-size:14px;line-height:21px;margin:10px 0;}
.popup-bonuses-spis .stat span{font-weight:700;font-size:16px;}
.popup-bonuses-spis .line{width:100%;height:1px;background:rgba(0,0,0,0.1);margin:20px 0;}

.popup-bonuses-spis .link{color:#e74c3c;margin-top:20px;display:inline-block;font-size:12px;text-decoration:none;border-bottom:1px solid #e74c3c;padding-bottom:5px;transition:.2s;}
.popup-bonuses-spis .link:hover{color:#c0392b;border-bottom:1px solid #c0392b;transform:translateY(-3px);}


/* Анимация */
@-webkit-keyframes rotateInUpLeft {
    from {
        -webkit-transform-origin: left bottom;
        transform-origin: left bottom;
        -webkit-transform: rotate3d(0, 0, 1, 45deg);
        transform: rotate3d(0, 0, 1, 45deg);
        opacity: 0;
    }

    to {
        -webkit-transform-origin: left bottom;
        transform-origin: left bottom;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

@keyframes rotateInUpLeft {
    from {
        -webkit-transform-origin: left bottom;
        transform-origin: left bottom;
        -webkit-transform: rotate3d(0, 0, 1, 45deg);
        transform: rotate3d(0, 0, 1, 45deg);
        opacity: 0;
    }

    to {
        -webkit-transform-origin: left bottom;
        transform-origin: left bottom;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

.rotateInUpLeft {
    -webkit-animation-duration:1s;
    animation-duration:1s;
    -webkit-animation-name: rotateInUpLeft;
    animation-name: rotateInUpLeft;
}


.wrapper-achieve.lside{display:none;}

@media screen and (max-width:1052px){
  .wrapper-achieve.rside{display:none !important;}
  .wrapper-achieve.lside{display:block !important;}
  .block-list-vitrina iframe{height:250px !important;}
}

.block-list-vitrina .title{line-height: 1.3em !important;}

.no-margin {padding-right: 0 !important}


/* Стили для каталога */

/* ХЛЕБНЫЕ КРОШКИ  */
.breadcrumbs{padding:8px 0;    border-bottom: 1px solid #e9e9e9;
    background-color: #fafafa;line-height:1.3em;font-size:12px;font-weight:500;}
.breadcrumbs span{    color: #333;
    padding-left: 10px;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 210px;
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;
}
.breadcrumbs a{color:#999;font-weight:500;margin:0 10px;display:inline-block !important;transition:.2s;position:relative;}
.breadcrumbs a:first-child{margin-left:0;}
.breadcrumbs a:hover{text-decoration:none;color:#4bbe3f;}
.breadcrumbs a::before{content:"";position:absolute;width:0%;background:#999;height:1px;bottom:-1px;left:0;opacity:0;transition:.2s;}
.breadcrumbs a:hover::before{width:100%;opacity:1;background:#4bbe3f;}


/* СТИЛИ ПОИСКА */
.search-block{position:relative;}
.search-block input[type=search]{width:100%;box-shadow:none;border:none;border-bottom:1px solid rgba(0,0,0,0.15);padding-bottom:5px;margin-top:15px;font-weight:500;color:#333;}
.search-block input[type=search]::placeholder{color:rgba(0,0,0,0.3);}
.search-block input[type=submit]{position:absolute;top:15px;right:15px;background:url(https://prizolove.com/images/loupe.svg) no-repeat center center;background-size:cover;box-shadow:none;border:none;width:20px;height:20px;cursor:pointer;opacity:0.3;}


/* СТИЛИ СЛАЙДЕРА */
.slider-block{
      padding: 10px 0;
}

.category-block{margin: 0 -7px;}
.category-block .sub-link .name,.category-block-mobile .sub-link .name{
  display: block;
    font-size: 13px;
    cursor: pointer;
    font-weight: 400;
    background: white;
    color: #333;
    transition: .3s;
    padding: 4px 13px;
    border: 2px solid rgba(0,0,0,.15);
    border-radius: 999px;
}



.category-block .sub-link{
  margin:7px;
  display:inline-block;
}
.category-block .sub-link .name svg,.category-block-mobile .sub-link .name svg{
      width: 25px !important;
  height: 25px !important;
  margin:0 5px 0 0 !important;
  transition:.3s;
  fill:#333;
}
.category-block .sub-link .name a,.category-block-mobile .sub-link .name a{color:#333;}
.category-block .sub-link .name:hover a,.category-block-mobile .sub-link .name:hover a,
.category-block .sub-link .name.active a,.category-block-mobile .sub-link .name.active a{color:white;}
.category-block .sub-link .name:hover,.category-block-mobile .sub-link .name:hover,
.category-block .sub-link .name.active,.category-block-mobile .sub-link .name.active{color:white;background:#e74c3c;border-color:#e74c3c;}
.category-block .sub-link .name:hover svg,.category-block-mobile .sub-link .name:hover svg,
.category-block .sub-link .name.active svg,.category-block-mobile .sub-link .name.active svg{fill:white;}


@media screen and (max-width:767px){
  .slider-block {
    padding: 0px 0;
}
}








/* ОБЩИЕ НАСТРОЙКИ */
.catalog-block{padding:10px 0 50px;}
.catalog-block .product-blocks{margin-bottom:0px;}
.catalog-block .product-block::last-child{margin-bottom:0px;}


/* ФОН ДЛЯ ТОВАРОВ */
.catalog-block{background:white;}


/* ЗАГОЛОВОК */
.catalog-block .title-block{vertical-align:middle;}
.catalog-block h1{color:#333;font-size:25px;font-weight:500;line-height:44px;}


/* КНОПКА "КАТЕГОРИИ ТОВАРОВ" */
.catalog-block .btn-catalog{text-align:right;vertical-align:middle;margin-bottom:5px;}
.catalog-block .btn-catalog a{display:inline-block;color:white;background:#4bbe3f;padding:10px 45px 10px 20px;border-radius:5px;transition:.5s;position:relative;}
.catalog-block .btn-catalog a::after{font-family: "Font Awesome 5 Free"; font-weight: 600; content: "\f078";position:absolute;right:20px;top:50%;transform:translateY(-50%);transition:.5s;}
.catalog-block .btn-catalog a:hover{background:#388E3C;text-decoration:none;}





/* ОТОБРАЖЕНИЕ БЛОКОВ */
.catalog-block .product-blocks .product{position: relative;
    padding: 0px 0px 0px 0px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.11);
    
    transition: .3s;
    margin-bottom: 25px;
    background: white;}

@media screen and (max-width:768px){
  .catalog-block .product-blocks .product{
    margin-bottom:15px;
  }
}
.product-blocks .product .image-wrapper{text-align:left;}

.catalog-block .product-blocks .product:hover{
  transform:translateY(-1px);
  
  box-shadow: 0px 2px 15px rgba(0,0,0,0.15);
}
.product-blocks .product .image-wrapper img{max-width:110%;}
.product-blocks .product .name-wrapper{text-align:left;max-height:38px;min-height:38px;overflow:hidden;margin:0px 0 15px;z-index:500;}
.product-blocks .product .name-wrapper{
color: #333;
    font-size: 15px;
    line-height: 20px;
    font-weight: 400;
  transition:.5s;
}
.product-blocks .product:hover .name-wrapper{color:#e74c3c;}

.product-blocks .product .wrapper-right{
  padding:15px;
  text-align:left;
}

@media screen and (min-width:768px){
  .product-blocks .product .image-wrapper{    position: relative;
    height: 175px;
    overflow: hidden;}
  .product-blocks .product .image-wrapper img{    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 110%;}
}


.product-blocks .price-wrapper{text-align:left;color:#4d4b4b;font-size:24px;font-weight:400;}
.product-blocks .price-wrapper .valute{font-weight:400;
font-size:15px;
color: #747474;}


/* СТИЛИ ССЫЛКИ */
.catalog-block .product .overlay-link{position:absolute;top:0;left:0;width:100%;height:100%;z-index:11;cursor:pointer;}




/* ПЛАШКИ ДЛЯ ТОВАРА */
.product-blocks .product .top-icon{position:absolute;top:8px;right:8px;z-index:4000;background:#9b59b6;padding:5px 10px;border-radius:9999px;color:white;font-size:12px;}
.product-blocks .product .diamond-icon{opacity:0;position:absolute;width:24px;height:22px;top:8px;left:8px;background:url(https://prizolove.com/images/diamond-list.png) no-repeat center center;background-size:contain;z-index:10;}









/* БЛОК СПЕЦИАЛЬНЫЕ ПРЕДЛОЖЕНИЯ */
.sale-block{background:#EAEAEA;padding-bottom:0px;
display:none !important;}
.sale-block .row{padding-bottom:20px;}
.sale-block .row::last-child{margin-bottom:0;}
.sale-block .title-block h2{text-align:center;font-size:25px;line-height:25px;font-family:"Montserrat",arial,sans-serif;}
.sale-block .banner-block,.sale-block .banner-block-2,.sale-block .banner-block-3{display:block;min-height:280px;background:white;border-radius:5px;box-shadow:0px 2px 6px rgba(0,0,0,0.1);margin-bottom:10px;}
.sale-block .banner-block{background:url( /images/free-polka.png) no-repeat right center;background-size:cover;}
.sale-block .banner-block-2{background:url(/images/daetsert.png) no-repeat left center;background-size:cover;}

.sale-block .partner-block{min-height:100px;background:white;border-radius:5px;box-shadow:0px 2px 6px rgba(0,0,0,0.1);}


/* БЛОК ДЛЯ ВАС */
.foryou-block{background:#eaeaea;padding-bottom:15px;}
.foryou-block h2{text-align:center;font-size:25px;line-height:25px;margin-bottom:20px;}
.foryou-block .tabs{box-shadow:0px 2px 6px rgba(0,0,0,0.1);background:white;border-radius:5px;text-align:center;padding:15px 0 5px 0;}
.foryou-block .tabs a.active{background:#364a5d;color:white;}
.foryou-block .tabs a.active:hover{color:white !Important;}
.foryou-block .tabs a{font-size:14px;padding:5px 10px;margin:0px 10px 10px 10px;display:inline-block;border-radius:5px;transition:.5s;color:#364a5d;background:rgba(0,0,0,0.1);}
.foryou-block .tabs a:hover{color:#e74c3c;text-decoration:none;}


.catalog-block-2{padding-top:0;}






@media screen and (max-width:991px){
    .product-blocks .product{padding-top:0px !important;}


}
@media screen and (max-width:767px){
    .breadcrumbs{display:none;}
    .category-block{display:none;}
    .search-block{padding:5px 0;}
    .catalog-block .product{margin-bottom:10px;}
    .catalog-block .product-blocks{margin-bottom:0;}
    .catalog-block .product::last-child{margin-bottom:0px;}
    .catalog-block .product .wrapper-left{    max-height: 110px;overflow:hidden;display:inline-block;vertical-align:middle;width:39%;}
    .catalog-block .product .wrapper-right{vertical-align:middle;display:inline-block;width:59%;text-align:left;}
    .catalog-block .product .wrapper-right .name-wrapper{text-align:left;margin-top:0;}
    .catalog-block .product .wrapper-right .price-wrapper{text-align:left;margin-top:0;
  
    font-size: 18px;}
}
/* БЛОК ПРОДУКТА */
.product-wrapper{}


/* ЗАГОЛОВОК */
.product-block{padding:10px 0 50px;background:white;}
@media screen and (max-width:768px){
  .product-block{padding:0px 0px 20px 0;}
.product-wrapper{
  padding-top:10px;
  }
}
.product-block h1{font-family: "Montserrat",arial,sans-serif;
    color: #333;
    font-size: 36px;
    font-weight: 500;
    display: block;
    padding: 0 0 15px;
    margin-bottom: 15px;
    border-bottom: 10px solid #f3f3f3;
}




/* Изображение */
.product-block .image-wrapper{background:white;position: relative;overflow:hidden;}
.product-block .image-wrapper img{position: absolute;
    top: 0;
    left: 50%;
      margin-left: 15px;
    transform: translateX(-50%);}
@media screen and (max-width:767px){
  .product-block .image-wrapper{min-height:200px;
  margin-bottom:15px;}
  
  
  
    .product-block .image-wrapper img{
      padding: 0 15px;
      width:100%;
  margin-left:0;
  }
  
  
  
}



/* ОПИСАНИЕ  */
.about-product-wrapper{background:white;padding-left: 25px;}
.product-wrapper .price-block{border-bottom:1px solid #e9e9e9;padding:0px 0;}
.product-wrapper .price-block .price{font-family:"Montserrat",sans-serif;background:#fef2ba;    padding: 10px 10px 9px 10px;display:inline-block;color:#4d4b4b;    margin-right: 10px;}
.price .number{font-size:25px;font-weight:500;}
.price .valute{font-size:16px;}

@media screen and (max-width:768px){
  .about-product-wrapper{background:white;padding-left: 15px;}
}

.product-wrapper .quantity{vertical-align:top;background:#E8EBED;display:inline-block;margin-left:10px;}
.product-wrapper .plus,.product-wrapper .minus{background:#E8EBED;width:50px;height:65px;display:inline-block;vertical-align:top;position:relative;}
.product-wrapper input{background:#E8EBED;box-shadow:none !important;border:none !important;width:50px;height:65px;vertical-align:top;text-align:center;font-size:25px;font-weight:500;color:#4d4b4b;}
.product-wrapper .plus::before{position: absolute;
    content: '';
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 2px;
    height: 20px;
    background-color: #828e96;transition:.5s;
}
.product-wrapper .plus::after,.product-wrapper .minus::before{position: absolute;
    content: '';
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 20px;
    height: 2px;
    background-color: #828e96;
  transition:.5s;
}
.product-wrapper .plus:hover::after,.product-wrapper .plus:hover::before,.product-wrapper .minus:hover::before{background:#4bbe3f;}





.product-wrapper .price-block .button{font-size:18px;display:inline-block;color:white;vertical-align:top;font-weight:500;padding: 10px 35px;;background: #2ecc71;
    box-shadow: 0px 2px 0 #27ae60;text-align:center;transition:.2s;line-height: 1.3em;}
.price-block .button img{display:inline-block;width:25px;vertical-align:middle;margin-right:10px;}

.price-block .button:hover{text-decoration:none !important;transform:translateY(-2px);}

.sertificate-block{border-bottom:1px solid #e9e9e9;padding:15px 0;font-weight:500;color:#333;position:relative;font-size:14px;}
.sertificate-block .red{color:#e74c3c;}
.sertificate-block img{display:inline-block;width:20px;margin-right:5px;}
.sertificate-block .see-more{position:absolute;top:50%;right:0;transform:translateY(-50%);padding: 7px 15px 7px 15px;
    text-align: center;
    font-size: 14px;color: #3e77aa;background: #f5f5f5;
    border: 1px solid #ebebeb;border-radius:5px;transition:.5s;}
.sertificate-block .see-more:hover{color:#4096e3;text-decoration:none !Important;}
.product-wrapper .height{    background: #EEEEEE;
    width: 100%;
    height: 15px;}
.product-wrapper .money-block{font-weight:400;padding:15px 0;color:#333;font-size:12px;line-height: 1.3em;border-bottom:1px solid #e9e9e9;}
.product-wrapper .money-block:last-child{border-bottom:0px;}
.product-wrapper .money-block .icon{width:30px;margin-right:10px;display:inline-block;}
.product-wrapper .money-block .icon:last-child{margin-right:0px;}

.product-wrapper .share-block{font-family: "Montserrat",sans-serif;
    padding: 15px 0;
    font-size: 14px;
    font-weight: 500;}

.social-buttons{display:block;margin-left:0px;}
.share-block .parent-qa{display:inline-block;opacity:0.4;cursor:pointer;}
.social-buttons .social-icon{display:inline-block;width:30px;height:30px;background:#4CAF50;border-radius:50%;text-align:center;font-size:14px;line-height:30px;margin-right:10px;color:white;transition:.5s;}
.social-buttons .social-icon:last-child{margin-right:0;}
.social-buttons .social-icon:hover{background:#388E3C;}
.social-buttons .social-icon:active{transform:scale(0.95);}



/* БЛОК ОПИСАНИЯ ТОВАРА */
.about-block{margin:30px 0;}

.about-block .col-12{    padding-left: 0;
    padding-right: 0;}
.about-block .title{padding:5px 10px 5px 10px;border-bottom:1px solid rgba(0,0,0,0.1);margin-bottom:20px;font-weight:500;color:#333;font-size:18px;}
.about-block .text{padding:0px 10px;font-size:14px;line-height:21px;}
.about-block .text .small{font-size:12px;opacity:0.8;}



@media screen and (max-width:992px){
  
  .breadcrumbs{display:none;}
  .product-block h1{font-size:21px;}
  .about-block .title{padding:5px 0px;}
  .about-block .text{padding:0px;}
  .product-wrapper .see-more{display:none;}
}

/* Про бонусы блок возле цены */
.price-block .bonuses-block,.price-block .qa-product-block{vertical-align:middle;display:inline-block;}


.price-block .bonuses-block{margin: 0 15px 0 0;
    padding: 15px 0;font-weight:500;font-family: "Montserrat",arial,sans-serif;color:#999;font-size:14px;}

.price-block .qa-product-block{position:relative;}
.price-block .qa-product-block i{opacity:0.4;}
.price-block .qa-product-block .block-how{position: absolute;
    font-size: 12px;
    top: 30px;
    right: -45px;
    padding: 8px;
  z-index:100;
    border-radius: 5px;
  font-weight:500;
  line-height:1.3em;
    box-shadow: 0px 2px 8px rgba(0,0,0,0.15);
    width: 350px;
    background: white;opacity:0;visibility:hidden;transition:.5s;}
.price-block .qa-product-block:hover .block-how{opacity:1;visibility:visible;}


/* Social block */

.uptolike-buttons .uptlk_wdgt_yG1iL .uptl_toolbar .size-40 .sn-icon {
    width: 30px !important;
    height: 30px !important;
    line-height: 30px !important;
    font-size: 18px !important;
    border-radius: 50% !important;
}

/* Мобильные категории */

  .mobile-category{display:none;padding: 10px 40px 10px 70px;
    background: #4bbe3f;position:relative;    width: 100%;
    border: none;
text-align:left;}
.category-block-mobile{display:none;}

.category-block-mobile .sub-link{
  display:inline-block;
  margin:7px;
}
.mobile-category,.mobile-category:active,.mobile-category:focus,.mobile-category:hover{color:white;}
.mobile-category .title{    font-size: 18px;
    font-weight: bold;}
.mobile-category::before {
    font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f00b";
  position:absolute;top:50%;left:0;transform:translateY(-50%);font-size: 40px;
    left: 15px;
  }
.mobile-category .text{    font-size: 12px;}
@media screen and (max-width:767px){
  .mobile-category{display:block;}
}

/* Стили для лейблов */

.left_label{display: inline-block;
    margin-right: 10px;
  font-weight:600;color:#999;
  width: 12%;vertical-align:middle;}
.right_label{font-weight:500;display: inline-block;
  width: 84%;padding-left:10px;vertical-align:middle;}
@media screen and (max-width:768px){
  .left_label{
  width: 18%;}
.right_label{
  width: 78%;}
}


/* Иконки */
.about-return,.about-delivery{position:relative;padding-left:32px;}
.about-return::before,.about-delivery::before{content:"";position:absolute;top:0;left:0;    width: 25px;
    height: 25px;}
.about-return::before{background:url(/images/package-1.png) no-repeat center center;background-size:cover;}
.about-delivery::before{background:url(/images/delivery-truck-1.png) no-repeat center center;background-size:cover;}


/* Защита покупателя */
.protect-buyer{position:relative;padding-left:58px;}
.protect-buyer .title{color:#3498db;font-weight:600;font-size:16px;display:inline-block;margin-bottom:5px;}
.protect-buyer ul{margin-bottom:0;padding-left: 15px;}

.protect-buyer ul li{
  margin-bottom:5px;
}

.protect-buyer::before{content:"";position:absolute;top:0;left:0;width:45px;height:45px;background:url(/images/shield-1-1.png) no-repeat center center;background-size:cover;}



/* Стили для загадок */
    .body_riddle .bounceInUp{animation-duration:1.5s;
        -webkit- animation-duration:1.5s;}
    .main_riddle.shake{animation-duration:1s;
        -webkit- animation-duration:1s;
        animation-delay:3.5s;
        -webkit- animation-delay:3.5s;}

    .topper_riddle .container,.body_riddle .container{max-width:800px;}
    /* ВЕРХНИЙ БЛОК ДОСТИЖЕНИЙ ЗАГАДКИ */
    .topper_riddle{background:rgba(0,0,0,0.05);padding:8px 0 8px 0;}
    .nav-bar{position:relative;text-align:center;}

    /* КНОПКА НАЗАД */
    .topper_riddle .arrow{background:rgba(0,0,0,0.1);width:25px;height:25px;display:inline-block;font-size:12px;line-height:25px;border-radius:50%;text-align:center;color:#333;transition:.5s;box-shadow:0px 2px 0px rgba(0,0,0,0.3);position:absolute;left:5px;top:-3px;}
    .topper_riddle .arrow-right{background:rgba(0,0,0,0.1);width:25px;height:25px;display:inline-block;font-size:12px;line-height:25px;border-radius:50%;text-align:center;color:#333;transition:.5s;box-shadow:0px 2px 0px rgba(0,0,0,0.3);position:absolute;right:5px;top:-3px;}
    .topper_riddle .arrow:hover{background:#388E3C;box-shadow:0 2px 0 #1e5821;color:white;transform:translateX(-5px);}
    .topper_riddle .arrow-right:hover{background:#388E3C;box-shadow:0 2px 0 #1e5821;color:white;transform:translateX(5px);}

    /* СТАТИСТИКА */
    .topper_riddle .bonuses{padding:0 30px;color:#333;font-size:10px;cursor:pointer !important;}
    .topper_riddle  .number,.topper_riddle .winners{color:#333;font-size:12px;font-weight:700;vertical-align:middle;}
    .topper_riddle .sertificates{vertical-align:middle;color:#333;font-size:12px;cursor:pointer !important;}

    /* БЛОК СЕРТИФИКАТОВ */
    .sertificates .icon-wrapper{display:inline-block;width:20px;margin-right:10px;vertical-align:top;}

    /* БЛОК БОНУСОВ */
    .bonuses .icon-wrapper{display:inline-block;vertical-align:top;width:20px;margin-right:5px;}

    /* БЛОК ПОБЕДИТЕЛЕЙ */
    .winners .icon-wrapper{display:inline-block;vertical-align:top;width:20px;margin-right:5px;}




    @media screen and (max-width:545px){.topper_riddle .winners{display:none;}
        .topper_riddle .text{display:none;}}

    @media screen and (max-width:400px){
        .topper_riddle .bonuses {
            padding: 0 10px 0 30px;}}


    /* Баннер загадки */
    .banner_riddle{min-height:180px;display:block;width:100%;background: #2c2e3b url(https://prizolove.com/images/banner_riddle3.png) no-repeat center center;background-size:cover;}

    /* ТЕЛО ЗАГАДКИ */
    .body_riddle{padding-top:15px;text-align:center;}
    .body_riddle h3{font-size:25px;font-weight:700;font-family:"Montserrat",arial,sans-serif;}
    .body_riddle .text_riddle{font-size:18px;line-height:1.3em;color:#333;}


    /* Выберите карточку */
    .choose{text-align:center;font-size:18px;line-height:1.3em;margin:15px 0;color:#2ecc71;font-weight:700;}

    /* ФУНКЦИОНАЛ ЗАГАДКИ */
    .main_riddle{text-align:center;}
    .main_riddle .block{width:24%;margin:0px 5px 15px 0px;display:inline-block;padding:5px;box-shadow:0px 2px 6px rgba(0,0,0,0.15);background:white;border-radius:3px;border:2px solid gray;text-align:center;font-size:16px;font-weight:600;font-family:"Montserrat",sans-serif;transition:.2s;position:relative;}
    @media screen and (max-width:600px){
        .main_riddle{text-align:center;}
        .main_riddle .block{width:24%;margin:20px 0px;}}


    .main_riddle .block img{width:75px;text-align:center;display:block;margin:0 auto;margin-bottom:10px;}
    @media screen and (max-width:470px){.main_riddle .block img{width:50px;}}

    .main_riddle .block:hover{transform:scale(1.01);box-shadow:0px 2px 6px rgba(0,0,0,0.3);cursor:pointer;}

    .main_riddle .block input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
    }


    .main_riddle .checkmark {
        position: absolute;
        top: 5px;
        left: 5px;
        height: 18px;
        width: 18px;
        background-color: #eee;
        border-radius: 50%;
        transition:.2s;
    }


    .main_riddle .block:hover input ~ .checkmark {
        background-color: #ccc;
    }


    .main_riddle .block input:checked ~ .checkmark {
        background-color: #388E3C;
    }


    .main_riddle .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }


    .main_riddle .block input:checked ~ .checkmark:after {
        display: block;
    }



    .main_riddle .block .checkmark:after {
        top: 50%;
        left: 50%;transform:translate(-50%,-50%);
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: white;
    }


    /* Кнопка "Проверить ответ" */
    .btn-wrapper{margin-bottom:40px;}
    .btn-wrapper .btn-check{background:#2ecc71;border:none;border-radius:0;max-width:280px;text-align:center;width:100%;display:block;margin:0 auto;padding:8px 0;color:white;font-size:16px;font-weight:bold;box-shadow:0px 2px 0 #27ae60;cursor:pointer;transition:.2s;}
    .btn-wrapper .btn-check i{font-size:10px;transition:.2s}
    .btn-wrapper .btn-check:hover{transform:translateY(-3px);}
    .btn-wrapper .btn-check:hover i:first-child{transform:translateX(-5px) rotate(-90deg);}
    .btn-wrapper .btn-check:hover i:last-child{transform:translateX(5px) rotate(90deg);}


    /* Блок изображения у загадки */
    .body_riddle form h3{font-family:"Montserrat",arial,sans-serif;}
    .body_riddle .image-wrapper{max-width:400px;overflow:hidden;margin:0 auto;height:350px;position:relative;}
    .body_riddle .image-wrapper img{max-width:400px;width:100%;position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);}

    /* Буквы */

    .letters-wrapper{text-align:center;margin-bottom:20px;}
    .letters-wrapper .letter{display:inline-block;width:50px;height:50px;vertical-align:top;background:  #100C54;border-radius:5px;margin:0 3px;font-size:25px;line-height:50px;color:white;text-transform:uppercase;font-weight:700;position:relative;}
    .letters-wrapper .letter input[type=text]{position:absolute;top:0;left:0;width:100%;height:100%;border:none;background:transparent;text-transform:uppercase;color:white;font-size:25px;line-height:50px;font-weight:700;text-align:center;}

@media screen and (max-width:421px){
  .letters-wrapper .letter{width:40px;font-size:21px;height:40px;line-height:40px !important;}
  .letters-wrapper .letter input[type=text]{font-size:21px;line-height:40px !important;}
}




    /* Popup-bg */
    #popup-win{display:none;}
    /* Затемненный фон */
    .overlay-bonuses{position:fixed;top:0;left:0;width:100%;height:100%;background:rgba(0,0,0,0.4);}

    /* Стили попапа */
    .popup-bonuses-spis{font-family:"Montserrat",arial,sans-serif;font-weight:500;max-width:500px;background:white;min-height:100px;width:100%;position:absolute;top:0;left:50%;margin-top:20px;transform:translateX(-50%);border-radius:5px;box-shadow:0px 2px 8px rgba(0,0,0,0.15);text-align:center;padding:0 0px 20px 0px;padding: 10px;}

    .popup-bonuses-spis .topper{text-align:center;width:100%;padding:10px 0 20px 0;background:url(https://prizolove.com/images/topper_sert.png) no-repeat 0% 120%;background-size:cover;}
    .popup-bonuses-spis .topper img{display:inline-block;width:35px;margin-left:0px;}


    .popup-bonuses-spis .icon-wrapper{display:inline-block;width:20px;vertical-align:middle;margin-right:5px;}
    .popup-bonuses-spis h5{font-size:21px;font-weight:700;margin:0px 0 20px 0;}
    .popup-bonuses-spis .stat{font-size:14px;line-height:21px;margin:10px 0;}
    .popup-bonuses-spis .stat span{font-weight:700;font-size:16px;}
    .popup-bonuses-spis .line{width:100%;height:1px;background:rgba(0,0,0,0.1);margin:20px 0;}

    .popup-bonuses-spis .link{color:#e74c3c;margin-top:20px;display:inline-block;font-size:12px;text-decoration:none;border-bottom:1px solid #e74c3c;padding-bottom:5px;transition:.2s;}
    .popup-bonuses-spis .link:hover{color:#c0392b !important;border-bottom:1px solid #c0392b;transform:translateY(-3px);}

    .popup-bonuses-spis .button{display:block;max-width:350px;text-align:center;width:100%;margin:0 auto;background:#2ECC71;padding:8px 0;    color: white;
        font-size: 16px;
        font-weight: bold;
        box-shadow: 0px 2px 0 #27ae60;transition:.2s;}

    .popup-bonuses-spis .button:hover {
        transform: translateY(-3px);
    }


    /* Анимация */
    @-webkit-keyframes rotateInUpLeft {
        from {
            -webkit-transform-origin: left bottom;
            transform-origin: left bottom;
            -webkit-transform: rotate3d(0, 0, 1, 45deg);
            transform: rotate3d(0, 0, 1, 45deg);
            opacity: 0;
        }

        to {
            -webkit-transform-origin: left bottom;
            transform-origin: left bottom;
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
            opacity: 1;
        }
    }

    @keyframes rotateInUpLeft {
        from {
            -webkit-transform-origin: left bottom;
            transform-origin: left bottom;
            -webkit-transform: rotate3d(0, 0, 1, 45deg);
            transform: rotate3d(0, 0, 1, 45deg);
            opacity: 0;
        }

        to {
            -webkit-transform-origin: left bottom;
            transform-origin: left bottom;
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
            opacity: 1;
        }
    }

    .rotateInUpLeft {
        -webkit-animation-duration:1s;
        animation-duration:1s;
        -webkit-animation-name: rotateInUpLeft;
        animation-name: rotateInUpLeft;
    }



    /* НОВЫЕ СТИЛИ ДИМА */
    .popup-bonuses-spis .good{    text-align: center;
        font-size: 21px;
        font-weight: bold;
        color: #388E3C;
        font-family: "Montserrat",arial,sans-serif;
        margin-top: 20px;}
    .popup-bonuses-spis .text-good,.popup-bonuses-spis .text-notgood{font-size:14px;}

    .answer-good .fireworks{display:block;width:160px;height:160px;margin:10px auto 10px auto;position:relative;}
    .answer-good .fireworks .ramka{display:block;font-family:"Montserrat",arial,sans-serif;text-align:center;background:url(https://prizolove.com/images/Ramka-1.png) no-repeat center center;width:160px;height:160px;background-size:cover;position:relative; -webkit-animation-name: tada;
        animation-name: tada;
        -webkit-animation-duration: 1s;
        animation-duration: 1s; }

    .answer-good .ramka .icon-block{width:125px;height:125px;text-align:center;position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);background:black;border-radius:50%;overflow:hidden;background-color:#388E3C;color:white;}
    .answer-good .ramka .icon-block h5{font-weight:800;font-size:40px;margin-bottom:0px;margin-top:25px;}
    .answer-good .ramka .icon-block span{font-size:16px;font-weight:500;}





    @-webkit-keyframes tada {
        from {
            -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
        }

        10%,
        20% {
            -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
            transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
        }

        30%,
        50%,
        70%,
        90% {
            -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
            transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
        }

        40%,
        60%,
        80% {
            -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
            transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
        }

        to {
            -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
        }
    }

    @keyframes tada {
        from {
            -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
        }

        10%,
        20% {
            -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
            transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
        }

        30%,
        50%,
        70%,
        90% {
            -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
            transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
        }

        40%,
        60%,
        80% {
            -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
            transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
        }

        to {
            -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
        }
    }



    .answer-good .fireworks::before,.answer-good .fireworks::after{
        content:"";
        position:absolute;
        display:block;
        width:100px;
        height:100px;
    }
    .answer-good .fireworks::before{left:-150px;top:35px;;background:url(https://prizolove.com/images/firework-left-popup.png) no-repeat center center;background-size:contain;transform:translateX(100px);-webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;    -webkit-animation-name: leftFadeIn;
        animation-name: leftFadeIn;}
    .answer-good .fireworks::after{right:-150px;top:35px;
        background:url(https://prizolove.com/images/firework-right-popup.png) no-repeat center center;background-size:contain;transform:translateX(-100px);-webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;    -webkit-animation-name: rightFadeIn;
        animation-name: rightFadeIn;}

    @-webkit-keyframes leftFadeIn {
        0% {
            opacity: 0;
            transform:translateX(100px);
        }


        100% {
            opacity: 1;
            transform:translateX(25px);
        }
    }

    @keyframes leftFadeIn {
        0% {
            opacity: 0;
            transform:translateX(100px);
        }


        100% {
            opacity: 1;
            transform:translateX(50px);
        }
    }


    @-webkit-keyframes rightFadeIn {
        0% {
            opacity: 0;
            transform:translateX(-100px);
        }


        100% {
            opacity: 1;
            transform:translateX(-25px);
        }
    }

    @keyframes rightFadeIn {
        0% {
            opacity: 0;
            transform:translateX(-100px);
        }


        100% {
            opacity: 1;
            transform:translateX(-50px);
        }
    }



    .title-good .green-text{text-align:center;font-size:21px;font-weight:bold;color:#388E3C;font-family:"Montserrat",arial,sans-serif;margin-top:20px;}
    .text-good{font-size:21px;text-align:center;font-family:"Montserrat",arial,sans-serif;color:#333;font-weight:500;}


    .arrow-down{text-align:center;font-size:21px;font-family:Montserrat,arial,sans-serif;font-weight:500;}
    .arrow-down .arrow{width:40px;height:40px;border-radius:50%;background:red;color:white;line-height:40px;text-align:center;font-size:25px;margin:10px auto 20px auto;animation-name: expandUp;
        -webkit-animation-name: expandUp;

        animation-duration: 2s;
        -webkit-animation-duration: 2s;

        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
        -webkit-animation-timing-function: ease-in-out;

        visibility: visible !important; }

    @keyframes expandUp {
        0% {
            transform: translateY(0px);
        }
        50%{
            transform: translateY(20px);
        }

        100% {
            transform: translateY(0px);
        }
    }

    @-webkit-keyframes expandUp {
        0% {
            -webkit-transform: translateY(0px);
        }
        50%{
            -webkit-transform: translateY(20px);
        }

        100% {
            -webkit-transform: translateY(0px);
        }
    }



/* Выберите карточку */

/* Выберите карточку */
.choose{text-align:center;font-size:18px;line-height:1.3em;margin:15px 0;color:#2ecc71;font-weight:700;}

/* ФУНКЦИОНАЛ ЗАГАДКИ */
.main_riddle{text-align:center;}
.main_riddle .block{width:20%;margin:0px 5px 15px 0px;display:inline-block;padding:5px;box-shadow:0px 2px 6px rgba(0,0,0,0.15);background:white;border-radius:3px;border:2px solid gray;text-align:center;font-size:16px;font-weight:600;font-family:"Montserrat",sans-serif;transition:.2s;position:relative;}
@media screen and (max-width:600px){
  .main_riddle{text-align:center;}
  .main_riddle .block{width:45%;margin:5px 0px;}}


.main_riddle .block img{width:75px;text-align:center;display:block;margin:0 auto;margin-bottom:10px;}
@media screen and (max-width:470px){.main_riddle .block img{width:50px;}}

.main_riddle .block:hover{transform:scale(1.01);box-shadow:0px 2px 6px rgba(0,0,0,0.3);cursor:pointer;}

.main_riddle .block input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}


.main_riddle .checkmark {
    position: absolute;
    top: 5px;
    left: 5px;
    height: 18px;
    width: 18px;
    background-color: #eee;
    border-radius: 50%;
  transition:.2s;
}


.main_riddle .block:hover input ~ .checkmark {
    background-color: #ccc;
}


.main_riddle .block input:checked ~ .checkmark {
    background-color: #388E3C;
}


.main_riddle .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}


.main_riddle .block input:checked ~ .checkmark:after {
    display: block;
}



.main_riddle .block .checkmark:after {
 	top: 50%;
	left: 50%;transform:translate(-50%,-50%);
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}


/* Кнопка "Проверить ответ" */
.btn-wrapper{margin-bottom:40px;}
.btn-wrapper .btn-check{background:#2ecc71;border:none;border-radius:0;max-width:280px;text-align:center;width:100%;display:block;margin:0 auto;padding:8px 0;color:white;font-size:16px;font-weight:bold;box-shadow:0px 2px 0 #27ae60;cursor:pointer;transition:.2s;}
.btn-wrapper .btn-check i{font-size:10px;transition:.2s}
.btn-wrapper .btn-check:hover{transform:translateY(-3px);}
.btn-wrapper .btn-check:hover i:first-child{transform:translateX(-5px) rotate(-90deg);}
.btn-wrapper .btn-check:hover i:last-child{transform:translateX(5px) rotate(90deg);}


/* Попап "Не отгадал" */
.answer-notgood .fireworks{display:block;width:160px;height:160px;margin:10px auto 10px auto;position:relative;}
.answer-notgood .fireworks .ramka{display:block;font-family:"Montserrat",arial,sans-serif;text-align:center;background:url(https://prizolove.com/images/Ramka-1.png) no-repeat center center;width:160px;height:160px;background-size:cover;position:relative; -webkit-animation-name: tada;
  animation-name: tada;
-webkit-animation-duration: 1s;
  animation-duration: 1s; }

.answer-notgood .ramka .icon-block{width:125px;height:125px;text-align:center;position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);background:black;border-radius:50%;overflow:hidden;background-color:#e74c3c;color:white;}
.answer-notgood .ramka .icon-block h5{font-weight:800;font-size:40px;margin-bottom:0px;margin-top:25px;}
.answer-notgood .ramka .icon-block span{font-size:16px;font-weight:500;}

.title-notgood .green-text{text-align:center;font-size:21px;font-weight:bold;color:#388E3C;font-family:"Montserrat",arial,sans-serif;margin-top:0px;}
 
.popup-bonuses-spis .notgood{    text-align: center;
    font-size: 21px;
    font-weight: bold;
    color: #e74c3c;
    font-family: "Montserrat",arial,sans-serif;
    margin-top: 20px;margin-bottom:20px;}

.popup-bonuses-spis .button{display:block;max-width:350px;text-align:center;width:100%;margin:0 auto;background:#2ECC71;padding:8px 0;    color: white;
  text-decoration:none;
    font-size: 16px;
    font-weight: bold;
    box-shadow: 0px 2px 0 #27ae60;transition:.2s;}

.popup-bonuses-spis .button:hover {
    transform: translateY(-3px);
}


/* Найди предмет */
.puzzle__image.find-me{margin-bottom:15px;}

/* Стили для миллионера */
.puzzle__level{margin:20px 0;text-align:center;}
.puzzle__level img{display:inline-block !important;}

.about-level{background: #FF635D;
    width: 100%;
    padding: 20px;
    margin: 0 auto;
    border-radius: 7px;
    border: 5px solid rgba(255,100,95,0.5);
    text-align: center;
    position: relative;}
.about-level:after { 
	content: ' '; 
	position: absolute; 
	width: 0; 
	height: 0; 
	left: 50%;
margin-left:-30px; 
z-index:-2;
	bottom: -60px; 
	border: 30px solid transparent;	border-top: 30px solid #FF645F;
}

.level-block__title{color: #fff;
    font-size: 21px;
    line-height: 25px;
    font-weight: 600;}

.level-block__description{margin: 20px 0;
    font-size: 14px;
    line-height: 23px;
    font-weight: 500;
    color: white;}


.col .downarrow{    z-index: 9999;
    margin: 0 auto;
    animation-name: slideDown;
    -webkit-animation-name: slideDown;
    animation-duration: 3s;
    -webkit-animation-duration: 3s;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    visibility: visible !important;
    font-family: "FontAwesome",sans-serif;
    display: block;
    width: 50px;
    height: 50px;
    border: 4px solid #d10700;
    border-radius: 50%;
    text-align: center;
    font-size: 32px;
    font-weight: 900;
    line-height: 45px;
    color: #d10700;}


.question__title.topTitle{background: #181253;
    padding: 20px 0;
    position: relative;
    margin-left: 50px;
    margin-right: 50px;    text-align: center;
    color: #fff;
    font-family: "Montserrat",sans-serif;
    font-weight: 600;
    font-size: 21px;
    margin: 0 !important;margin-bottom:10px;}

.question__title.topTitle:before {
    content: "";
    left: -50px;
    top: 0px;
    position: absolute;
    border-top: 32px solid transparent;
    border-right: 50px solid #181253;
    border-bottom: 32px solid transparent;
  margin-bottom:50px;
}
.question__title.topTitle:after {
     content: "";
     right: -50px;
    top: 0px;
    position: absolute;
    border-top: 32px solid transparent;
    border-left: 50px solid #181253;
    border-bottom: 32px solid transparent;
}



.col.level-block__image{text-align:center;}
.col.level-block__image img{    display: inline-block;
    width: 250px;}

@keyframes slideDown {
    0% {
        transform: translateY(0%);
    }
    50%{
        transform: translateY(20%);
    }
   
    100% {
        transform: translateY(0%);
    }         
}
 
@-webkit-keyframes slideDown {
    0% {
        transform: translateY(0%);
    }
    50%{
        transform: translateY(20%);
    }
   
    100% {
        transform: translateY(0%);
    }       
}


.col.answer_block{background:#181253;padding:10px 0;position:relative;color:#fff;font-family:"Montserrat",sans-serif;font-weight:400;font-size:18px;transition:.5s;cursor:pointer;}

.col.answer_block__answer1{margin:10px 50px 0 0;}
.col.answer_block__answer2{margin:10px 0px 0 50px;}
.col.answer_block__answer3{margin:10px 50px 60px 0;}
.col.answer_block__answer4{margin:10px 0px 60px 50px;}

.col.answer_block:hover{background:#C66320;color:#000;}
.col.answer_block:hover span{color:#fff;}
.col.answer_block:hover:before{border-right: 50px solid #C66320;}
.col.answer_block:hover:after {border-left: 50px solid #C66320;}
.col.answer_block .number{color:#D0833A;font-weight:600;transition:.5s;}
.col.answer_block:before {
    content: "";
    left: -50px;
    top: 0px;
    position: absolute;
    border-top: 22px solid transparent;
    border-right: 50px solid #181253;
    border-bottom: 22px solid transparent;
transition:.5s;
cursor:pointer;
}

.col.answer_block:after {
cursor:pointer;
         content: "";
    right: -50px;
    top: 0px;
    position: absolute;
    border-top: 22px solid transparent;
    border-left: 50px solid #181253;
    border-bottom: 22px solid transparent;
transition:.5s;
}


.modal-dialog {pointer-events: auto;}
.hidden {display: none !important;}

@media screen and (max-width:768px){
  .col.level-block__about{width:100% !important;}
  .col.level-block__image{display:none !important;}
  .col.answer_block{width:100%;margin-bottom:10px !important; flex-basis: inherit;}
  .col.answer_block:last-child{margin-bottom:0px !important;}
  
  .col.answer_block__answer1{margin:20px 30px 10px 30px !important;}
.col.answer_block__answer2{margin:0px 30px 10px 30px !important;}
.col.answer_block__answer3{margin:10px 30px 10px 30px !important;}
.col.answer_block__answer4{margin:0px 30px 10px 30px !important;}

}


/* Пропустить линк */
.next-puzzle_link .passPuzzle{margin-bottom:15px;display: inline-block;
    margin: 0 auto 15px auto;
    font-size: 12px;
    font-weight: 500;
    color: #e74c3c;
    text-decoration: none;
    border-bottom: 1px solid #e74c3c;
    padding-bottom: 5px;
    transition: .2s;}
.next-puzzle_link .passPuzzle:hover{    color: #c0392b !important;
    border-bottom: 1px solid #c0392b;
    transform: translateY(-3px);}


@media screen and (max-width:768px){
  .social-buttons{display:none !important;}
}



.order_img_container{display: flex !important;
    justify-content: center;
margin-top: 10px;}


.block-list-alert_close .title-block{
  position:relative;
  cursor:pointer;
  transition:.5s;
}

.block-list-alert_close .block-how{padding: 0 18px !important;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;}

.block-list-alert_close .title-block:hover{background:rgba(0,0,0,.05);}


.block-list-alert_close .title-block::before{
      position: absolute;
    content: "\f0d7";
    color: #333;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 25px;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
  transition:.5s;
}

.block-list-alert_close .title-block.active::before{
  
    transform: translateY(-50%) rotate(-180deg);
  
}