@charset "utf-8";

div.icon-48-items {	background: url(images/columns_big.png) no-repeat left; }

.filtersbox{
	margin-bottom:10px;
}

.smallinput{
	width:30px;
}
.mediuminput{
	width:140px;
}

.filter-bar .navbar-inner {
padding: 5px !important;
}
.navbar .btn, .navbar .btn-group {
 margin-top: 0px !important;
}
.totalstats{
	padding: 4px;
}
@media (max-width: 768px){
	.navbar-inner input, .navbar-inner select{
		margin-bottom: 5px !important;
	}
}
.leftmargin{
	margin-left: 5px;
}

.version-box {
	margin-top: 20px;
	text-align: center;
}

.inner-version-box {
	width: 400px;
	margin: 0 auto;
}

.sys-info-title {
	font-weight: bold;
	padding-bottom: 15px;
}

#update-info {
	padding-top: 15px;
}

.btn-get-updates {
	margin-top: 15px;
}

.plugin-version-row {
	padding-top: 15px;
}

@media (max-width: 480px){
	.inner-version-box {
		width: 100%;
	}
}

.removeicon{
	cursor: pointer;
}

.radio_toggle {
    display: none !important;
}

.form-horizontal .btn-group + .help-block{
	margin-top: 9px;
}