    .question-block #sp-bottom{background:none !important;}
    .question-block .button{
	border-radius:3px !important;background: linear-gradient(0, #ff1b1b, #f94747);padding:20px 35px !important;box-shadow:0px 3px 0px #860d0d;font-family:"Montserrat",sans-serif !important;font-weight:700;font-size:16px !important;text-transform:uppercase;color:white;
    }
    .question-block .button:hover{background: linear-gradient(180deg, #ff1b1b, #f94747);}
    .question-block input {
    	margin: 20px auto;
	border: 3px solid #212121;
	border-radius: 0px;
	padding: 30px;
        font-size: 30px;
        text-align: center;
        font-family: "Montserrat", sans-serif;
        text-transform: uppercase;
        font-weight: 700;
    }
