body{background-color:#ffffff;} 
h1 { color:#393939 !important; font-size:14px; font-weight:bold; margin:10px 0px; } 
h2 { color: #309fb3 !important; font-size: 14px; font-weight: normal; text-align:left; margin:0px; padding:0px; } 
h3 { color: #393939 !important; font-size: 18px; font-weight: bold; text-align:left; margin:0px; padding-bottom:5px; border-bottom:1px solid #bdbdbd; } 
h4 { color: #309fb3 !important; font-size: 14px; font-weight: bold; text-align:left; margin:0px; padding: 5px 0px 0px 0px; } 
a { color:#309FB3; text-decoration:none; font-style:italic; cursor:pointer; } 
.acymailing_unsub {color:#a3a3a3; text-decoration:none; font-size:11px;} 
.acymailing_content {text-align:justify;} 
.acymailing_readmore {font-size: 12px; color: #fff; background-color:#309fb3; font-weight:bold; padding:3px 5px;} 
.acymailing_online {color:#a3a3a3; text-decoration:none; font-size:11px;} 
